.chi-tit-thanh-ton-1-child,
.chi-tit-thanh-ton-1-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1557px;
}
.chi-tit-thanh-ton-1-item {
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container22,
.thng-tin-thanh11 {
  position: absolute;
  top: 183px;
  left: 569px;
  font-size: var(--font-size-5xl);
}
.thng-tin-thanh11 {
  top: 280px;
  left: 31px;
}
.h-v-tn11 {
  position: absolute;
  top: 339px;
  left: 31px;
}
.ghi-ch-n11,
.tnhthnh-ph11,
.xphng11 {
  position: absolute;
  top: 475px;
  left: 31px;
}
.ghi-ch-n11,
.xphng11 {
  top: 610px;
}
.ghi-ch-n11 {
  top: 742px;
}
.a-ch-email12,
.a-ch11,
.qunhuyn11 {
  position: absolute;
  top: 339px;
  left: 469px;
}
.a-ch11,
.qunhuyn11 {
  top: 475px;
}
.a-ch11 {
  top: 610px;
}
.chi-tit-thanh-ton-1-inner {
  position: absolute;
  top: 233.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.chi-tit-thanh-ton-1-child1 {
  position: absolute;
  top: 284px;
  left: 894px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 534px;
  height: 413px;
}
.cm-n-bn11,
.polo-pitying-pl1348 {
  position: absolute;
  top: 586px;
  left: 913px;
  font-size: var(--font-size-base);
  color: var(--color-darkseagreen-100);
}
.polo-pitying-pl1348 {
  top: 388px;
  color: var(--color-dimgray-100);
}
.div355,
.div356,
.div357,
.div358,
.tm-tnh44 {
  position: absolute;
  top: 429px;
  left: 913px;
  font-size: var(--font-size-base);
}
.div355,
.div356,
.div357,
.div358 {
  top: 384px;
  left: 1320px;
  font-weight: 800;
  color: var(--color-red-600);
}
.div356,
.div357,
.div358 {
  top: 424px;
}
.div357,
.div358 {
  top: 471px;
  left: 1325px;
}
.div358 {
  top: 511px;
  left: 1320px;
}
.giao-hng22 {
  top: 470px;
  left: 913px;
}
.giao-hng22,
.ph-ship11,
.tng22,
.tr-tin-mt11 {
  position: absolute;
  font-size: var(--font-size-base);
}
.ph-ship11 {
  top: 470px;
  left: 1245px;
  color: var(--color-dimgray-100);
}
.tng22,
.tr-tin-mt11 {
  top: 511px;
  left: 913px;
}
.tr-tin-mt11 {
  top: 552px;
}
.n-hng-ca11,
.sn-phm24,
.tm-tnh45 {
  position: absolute;
  top: 296px;
  left: 913px;
  font-size: var(--font-size-5xl);
}
.sn-phm24,
.tm-tnh45 {
  top: 347px;
  font-size: var(--font-size-base);
}
.tm-tnh45 {
  top: 343px;
  left: 1315px;
}
.chi-tit-thanh-ton-1-child2,
.chi-tit-thanh-ton-1-child3,
.chi-tit-thanh-ton-1-child4,
.chi-tit-thanh-ton-1-child5 {
  position: absolute;
  top: 372.5px;
  left: 912.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 482px;
  height: 1px;
}
.chi-tit-thanh-ton-1-child3,
.chi-tit-thanh-ton-1-child4,
.chi-tit-thanh-ton-1-child5 {
  top: 460.5px;
  width: 347px;
}
.chi-tit-thanh-ton-1-child4,
.chi-tit-thanh-ton-1-child5 {
  top: 498.5px;
  width: 482px;
}
.chi-tit-thanh-ton-1-child5 {
  top: 541.5px;
  opacity: 0.3;
}
.chi-tit-thanh-ton-1-child6 {
  position: absolute;
  top: 1001px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.chi-tit-thanh-ton-1-child7 {
  position: absolute;
  top: 1031px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.chi-tit-thanh-ton-1-child8,
.chi-tit-thanh-ton-1-child9 {
  position: absolute;
  top: 1289px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.chi-tit-thanh-ton-1-child9 {
  top: 1316px;
  left: 764px;
}
.chi-tit-thanh-ton-1-child10,
.chi-tit-thanh-ton-1-child11 {
  position: absolute;
  top: 1343px;
  left: 765px;
  border-radius: 50%;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.chi-tit-thanh-ton-1-child11 {
  top: 1363px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span208 {
  color: var(--color-red-300);
}
.h-tr-container37 {
  position: absolute;
  top: 1045px;
  left: 111px;
}
.blank-line67,
.gii-thiu37,
.n7-hng-n37 {
  margin: 0;
}
.gii-thiu-n7-container36 {
  position: absolute;
  top: 1199px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.thng-tin-lin37 {
  position: absolute;
  top: 1196px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh25 {
  position: absolute;
  top: 1242px;
  left: 788px;
}
.c-s-137,
.newsevenvngmailcom37 {
  position: absolute;
  top: 1361px;
  left: 788px;
}
.c-s-137 {
  top: 1288px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-237,
.div359 {
  position: absolute;
  top: 1315px;
  left: 788px;
}
.div359 {
  top: 1339px;
}
.chi-tit-thanh-ton-1-child12,
.chi-tit-thanh-ton-1-child13,
.chi-tit-thanh-ton-1-child14,
.chi-tit-thanh-ton-1-child15 {
  position: absolute;
  top: 1391px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.chi-tit-thanh-ton-1-child13,
.chi-tit-thanh-ton-1-child14,
.chi-tit-thanh-ton-1-child15 {
  left: 902px;
}
.chi-tit-thanh-ton-1-child14,
.chi-tit-thanh-ton-1-child15 {
  left: 845px;
}
.chi-tit-thanh-ton-1-child15 {
  left: 959px;
}
.group-child762 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 123px;
  height: 45px;
}
.t-hng26 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.group-child763,
.rectangle-parent353 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 45px;
}
.group-child763 {
  background-color: var(--color-gray-1700);
}
.t-hng27 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent354 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 123px;
  height: 45px;
}
.chi-tit-thanh-ton-1-inner1,
.group-parent186 {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 45px;
}
.chi-tit-thanh-ton-1-inner1 {
  top: 619px;
  left: 913px;
  width: 123px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child764,
.group-child765 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child765 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-1-inner2,
.rectangle-parent355 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-1-inner2 {
  top: 382px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child766,
.group-child767 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child767 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-1-inner3,
.rectangle-parent356 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-1-inner3 {
  top: 518px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child768,
.group-child769 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child769 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-1-inner4,
.rectangle-parent357 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-1-inner4 {
  top: 653px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child770,
.group-child771 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child771 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-1-inner5,
.rectangle-parent358 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-1-inner5 {
  top: 382px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child772,
.group-child773 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child773 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-1-inner6,
.rectangle-parent359 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-1-inner6 {
  top: 518px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child774,
.group-child775 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child775 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-1-inner7,
.rectangle-parent360 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-1-inner7 {
  top: 653px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child776,
.group-child777 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 833px;
  height: 146px;
}
.group-child777 {
  top: 228px;
  background-color: var(--color-gray-1900);
}
.chi-tit-thanh-ton-1-inner8,
.rectangle-parent361 {
  position: absolute;
  top: 0;
  left: 0;
  width: 833px;
  height: 374px;
}
.chi-tit-thanh-ton-1-inner8 {
  top: 779px;
  left: 34px;
  height: 146px;
  overflow: hidden;
}
.home88,
.home89 {
  position: absolute;
  top: 0;
  left: 0;
}
.home89 {
  left: 105px;
  color: var(--color-gray-300);
}
.chi-tit-thanh-ton-1-inner9,
.home-parent37 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-1-inner9 {
  top: 45px;
  left: 270px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child778,
.shop88 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child778 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent76,
.shop89 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent76 {
  width: 78px;
  height: 29px;
}
.shop89 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child779,
.shop-parent77 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent77 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-1-inner10,
.group-parent187 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.chi-tit-thanh-ton-1-inner10 {
  top: 44px;
  left: 394px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact89,
.contact90 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact90 {
  left: 146px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-1-inner11,
.contact-parent37 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.chi-tit-thanh-ton-1-inner11 {
  top: 45px;
  left: 511px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group97,
.group98 {
  position: absolute;
  top: 0;
  left: 0;
}
.group98 {
  left: 94px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-1-inner12,
.group-parent188 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-1-inner12 {
  top: 45px;
  left: 672px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child780 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn39 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child781 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent362 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child782 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child782,
.group-wrapper56,
.rectangle-wrapper39 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper56 {
  left: 367px;
}
.chi-tit-thanh-ton-1-inner13,
.group-parent189 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.chi-tit-thanh-ton-1-inner13 {
  top: 27px;
  left: 793px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chi-tit-thanh-ton-1-child16 {
  position: absolute;
  top: 44px;
  left: 1374px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon78,
.male-user-icon79 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon79 {
  left: 55px;
}
.male-user-parent37,
.ng-nhp31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.ng-nhp31 {
  top: 44px;
  left: 1327px;
  width: 26px;
  overflow: hidden;
}
.seven39 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new79,
.p89 {
  margin: 0;
}
.p89 {
  font-size: var(--font-size-5xl);
}
.new78 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child783 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r39 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.chi-tit-thanh-ton-1-inner14,
.seven-parent32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.chi-tit-thanh-ton-1-inner14 {
  top: 20px;
  left: 31px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.chi-tit-thanh-ton-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1557px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
