.chi-tit-thanh-ton-child55,
.chi-tit-thanh-ton-child56 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1557px;
}
.chi-tit-thanh-ton-child56 {
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container10,
.thng-tin-thanh10 {
  position: absolute;
  top: 183px;
  left: 569px;
  font-size: var(--font-size-5xl);
}
.thng-tin-thanh10 {
  top: 280px;
  left: 31px;
}
.h-v-tn10 {
  position: absolute;
  top: 339px;
  left: 31px;
}
.ghi-ch-n10,
.tnhthnh-ph10,
.xphng10 {
  position: absolute;
  top: 475px;
  left: 31px;
}
.ghi-ch-n10,
.xphng10 {
  top: 610px;
}
.ghi-ch-n10 {
  top: 742px;
}
.a-ch-email10,
.a-ch10,
.qunhuyn10 {
  position: absolute;
  top: 339px;
  left: 469px;
}
.a-ch10,
.qunhuyn10 {
  top: 475px;
}
.a-ch10 {
  top: 610px;
}
.chi-tit-thanh-ton-child57 {
  position: absolute;
  top: 233.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.chi-tit-thanh-ton-child58 {
  position: absolute;
  top: 284px;
  left: 894px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 534px;
  height: 413px;
}
.cm-n-bn10,
.qun-short-insert10 {
  position: absolute;
  top: 586px;
  left: 913px;
  font-size: var(--font-size-base);
  color: var(--color-darkseagreen-100);
}
.qun-short-insert10 {
  top: 388px;
  color: var(--color-dimgray-100);
}
.div217,
.div218,
.div219,
.div220,
.tm-tnh20 {
  position: absolute;
  top: 429px;
  left: 913px;
  font-size: var(--font-size-base);
}
.div217,
.div218,
.div219,
.div220 {
  top: 384px;
  left: 1320px;
  font-weight: 800;
  color: var(--color-red-600);
}
.div218,
.div219,
.div220 {
  top: 424px;
}
.div219,
.div220 {
  top: 471px;
  left: 1325px;
}
.div220 {
  top: 511px;
  left: 1320px;
}
.giao-hng10 {
  top: 470px;
  left: 913px;
}
.giao-hng10,
.ph-ship10,
.tng10,
.tr-tin-mt10 {
  position: absolute;
  font-size: var(--font-size-base);
}
.ph-ship10 {
  top: 470px;
  left: 1245px;
  color: var(--color-dimgray-100);
}
.tng10,
.tr-tin-mt10 {
  top: 511px;
  left: 913px;
}
.tr-tin-mt10 {
  top: 552px;
}
.n-hng-ca10,
.sn-phm11,
.tm-tnh21 {
  position: absolute;
  top: 296px;
  left: 913px;
  font-size: var(--font-size-5xl);
}
.sn-phm11,
.tm-tnh21 {
  top: 347px;
  font-size: var(--font-size-base);
}
.tm-tnh21 {
  top: 343px;
  left: 1315px;
}
.chi-tit-thanh-ton-child59,
.chi-tit-thanh-ton-child60,
.chi-tit-thanh-ton-child61,
.chi-tit-thanh-ton-child62 {
  position: absolute;
  top: 372.5px;
  left: 912.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 482px;
  height: 1px;
}
.chi-tit-thanh-ton-child60,
.chi-tit-thanh-ton-child61,
.chi-tit-thanh-ton-child62 {
  top: 460.5px;
  width: 347px;
}
.chi-tit-thanh-ton-child61,
.chi-tit-thanh-ton-child62 {
  top: 498.5px;
  width: 482px;
}
.chi-tit-thanh-ton-child62 {
  top: 541.5px;
  opacity: 0.3;
}
.chi-tit-thanh-ton-child63 {
  position: absolute;
  top: 1001px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.chi-tit-thanh-ton-child64 {
  position: absolute;
  top: 1031px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child65,
.chi-tit-thanh-ton-child66 {
  position: absolute;
  top: 1289px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child66 {
  top: 1316px;
  left: 764px;
}
.chi-tit-thanh-ton-child67,
.chi-tit-thanh-ton-child68 {
  position: absolute;
  top: 1343px;
  left: 765px;
  border-radius: 50%;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child68 {
  top: 1363px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span119 {
  color: var(--color-red-300);
}
.h-tr-container21 {
  position: absolute;
  top: 1045px;
  left: 111px;
}
.blank-line48,
.gii-thiu21,
.n7-hng-n21 {
  margin: 0;
}
.gii-thiu-n7-container21 {
  position: absolute;
  top: 1199px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.thng-tin-lin21 {
  position: absolute;
  top: 1196px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh11 {
  position: absolute;
  top: 1242px;
  left: 788px;
}
.c-s-121,
.newsevenvngmailcom21 {
  position: absolute;
  top: 1361px;
  left: 788px;
}
.c-s-121 {
  top: 1288px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-221,
.div221 {
  position: absolute;
  top: 1315px;
  left: 788px;
}
.div221 {
  top: 1339px;
}
.chi-tit-thanh-ton-child69,
.chi-tit-thanh-ton-child70,
.chi-tit-thanh-ton-child71,
.chi-tit-thanh-ton-child72 {
  position: absolute;
  top: 1391px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child70,
.chi-tit-thanh-ton-child71,
.chi-tit-thanh-ton-child72 {
  left: 902px;
}
.chi-tit-thanh-ton-child71,
.chi-tit-thanh-ton-child72 {
  left: 845px;
}
.chi-tit-thanh-ton-child72 {
  left: 959px;
}
.group-child425 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 123px;
  height: 45px;
}
.t-hng20 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.group-child426,
.rectangle-parent204 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 45px;
}
.group-child426 {
  background-color: var(--color-gray-1700);
}
.t-hng21 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent205 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 123px;
  height: 45px;
}
.chi-tit-thanh-ton-inner43,
.group-parent99 {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 45px;
}
.chi-tit-thanh-ton-inner43 {
  top: 619px;
  left: 913px;
  width: 123px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child427,
.group-child428 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child428 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner44,
.rectangle-parent206 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner44 {
  top: 382px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child429,
.group-child430 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child430 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner45,
.rectangle-parent207 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner45 {
  top: 518px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child431,
.group-child432 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child432 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner46,
.rectangle-parent208 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner46 {
  top: 653px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child433,
.group-child434 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child434 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner47,
.rectangle-parent209 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner47 {
  top: 382px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child435,
.group-child436 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child436 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner48,
.rectangle-parent210 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner48 {
  top: 518px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child437,
.group-child438 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child438 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner49,
.rectangle-parent211 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner49 {
  top: 653px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child439,
.group-child440 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 833px;
  height: 146px;
}
.group-child440 {
  top: 228px;
  background-color: var(--color-gray-1900);
}
.chi-tit-thanh-ton-inner50,
.rectangle-parent212 {
  position: absolute;
  top: 0;
  left: 0;
  width: 833px;
  height: 374px;
}
.chi-tit-thanh-ton-inner50 {
  top: 779px;
  left: 34px;
  height: 146px;
  overflow: hidden;
}
.home46,
.home47 {
  position: absolute;
  top: 0;
  left: 0;
}
.home47 {
  left: 105px;
  color: var(--color-gray-300);
}
.chi-tit-thanh-ton-inner51,
.home-parent19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-inner51 {
  top: 45px;
  left: 270px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child441,
.shop46 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child441 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent40,
.shop47 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent40 {
  width: 78px;
  height: 29px;
}
.shop47 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child442,
.shop-parent41 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent41 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-inner52,
.group-parent100 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.chi-tit-thanh-ton-inner52 {
  top: 44px;
  left: 394px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact46,
.contact47 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact47 {
  left: 146px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-inner53,
.contact-parent19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.chi-tit-thanh-ton-inner53 {
  top: 45px;
  left: 511px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group46,
.group47 {
  position: absolute;
  top: 0;
  left: 0;
}
.group47 {
  left: 94px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-inner54,
.group-parent101 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-inner54 {
  top: 45px;
  left: 672px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child443 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn21 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child444 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent213 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child445 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child445,
.group-wrapper31,
.rectangle-wrapper21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper31 {
  left: 367px;
}
.chi-tit-thanh-ton-inner55,
.group-parent102 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.chi-tit-thanh-ton-inner55 {
  top: 27px;
  left: 793px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chi-tit-thanh-ton-child73 {
  position: absolute;
  top: 44px;
  left: 1374px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon42,
.male-user-icon43 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon43 {
  left: 55px;
}
.male-user-parent19,
.ng-nhp14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.ng-nhp14 {
  top: 44px;
  left: 1327px;
  width: 26px;
  overflow: hidden;
}
.seven21 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new43,
.p65 {
  margin: 0;
}
.p65 {
  font-size: var(--font-size-5xl);
}
.new42 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child446 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r21 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.chi-tit-thanh-ton-inner56,
.seven-parent17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.chi-tit-thanh-ton-inner56 {
  top: 20px;
  left: 31px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.chi-tit-thanh-ton3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1557px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
