.chi-tit-thanh-ton-2-child,
.chi-tit-thanh-ton-2-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1557px;
}
.chi-tit-thanh-ton-2-item {
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container {
  position: absolute;
  top: 183px;
  left: 569px;
  font-size: var(--font-size-5xl);
}
.h-v-tn,
.thng-tin-thanh {
  position: absolute;
  left: 31px;
}
.thng-tin-thanh {
  top: 280px;
  font-size: var(--font-size-5xl);
}
.h-v-tn {
  top: 339px;
}
.ghi-ch-n,
.tnhthnh-ph,
.xphng {
  position: absolute;
  top: 475px;
  left: 31px;
}
.ghi-ch-n,
.xphng {
  top: 610px;
}
.ghi-ch-n {
  top: 742px;
}
.a-ch,
.a-ch-email,
.qunhuyn {
  position: absolute;
  top: 339px;
  left: 469px;
}
.a-ch,
.qunhuyn {
  top: 475px;
}
.a-ch {
  top: 610px;
}
.chi-tit-thanh-ton-2-inner {
  position: absolute;
  top: 233.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.chi-tit-thanh-ton-2-child1 {
  position: absolute;
  top: 284px;
  left: 894px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 534px;
  height: 413px;
}
.cm-n-bn {
  top: 586px;
  color: var(--color-darkseagreen-100);
}
.cm-n-bn,
.div166,
.o-polo-newseven1,
.tm-tnh {
  position: absolute;
  left: 913px;
  font-size: var(--font-size-base);
}
.o-polo-newseven1 {
  top: 388px;
  font-weight: 600;
  color: var(--color-dimgray-100);
  text-decoration: none;
}
.div166,
.tm-tnh {
  top: 429px;
}
.div166 {
  top: 384px;
  left: 1320px;
}
.div166,
.div167,
.div168 {
  font-weight: 800;
  color: var(--color-red-600);
}
.div167 {
  position: absolute;
  top: 424px;
  left: 1320px;
  font-size: var(--font-size-base);
}
.div168 {
  top: 471px;
  left: 1325px;
}
.div168,
.div169,
.giao-hng,
.ph-ship {
  position: absolute;
  font-size: var(--font-size-base);
}
.div169 {
  top: 511px;
  left: 1316px;
  font-weight: 800;
  color: var(--color-red-600);
}
.giao-hng,
.ph-ship {
  top: 470px;
  left: 913px;
}
.ph-ship {
  left: 1245px;
  color: var(--color-dimgray-100);
}
.n-hng-ca,
.sn-phm1,
.tm-tnh1,
.tng,
.tr-tin-mt {
  position: absolute;
  top: 511px;
  left: 913px;
  font-size: var(--font-size-base);
}
.n-hng-ca,
.sn-phm1,
.tm-tnh1,
.tr-tin-mt {
  top: 552px;
}
.n-hng-ca,
.sn-phm1,
.tm-tnh1 {
  top: 296px;
  font-size: var(--font-size-5xl);
}
.sn-phm1,
.tm-tnh1 {
  top: 347px;
  font-size: var(--font-size-base);
}
.tm-tnh1 {
  top: 343px;
  left: 1315px;
}
.chi-tit-thanh-ton-2-child2,
.chi-tit-thanh-ton-2-child3,
.chi-tit-thanh-ton-2-child4,
.chi-tit-thanh-ton-2-child5 {
  position: absolute;
  top: 372.5px;
  left: 912.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 482px;
  height: 1px;
}
.chi-tit-thanh-ton-2-child3,
.chi-tit-thanh-ton-2-child4,
.chi-tit-thanh-ton-2-child5 {
  top: 460.5px;
  width: 347px;
}
.chi-tit-thanh-ton-2-child4,
.chi-tit-thanh-ton-2-child5 {
  top: 498.5px;
  width: 482px;
}
.chi-tit-thanh-ton-2-child5 {
  top: 541.5px;
  opacity: 0.3;
}
.chi-tit-thanh-ton-2-child6 {
  position: absolute;
  top: 1001px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.chi-tit-thanh-ton-2-child7 {
  position: absolute;
  top: 1031px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.chi-tit-thanh-ton-2-child8,
.chi-tit-thanh-ton-2-child9 {
  position: absolute;
  top: 1289px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.chi-tit-thanh-ton-2-child9 {
  top: 1316px;
  left: 764px;
}
.chi-tit-thanh-ton-2-child10,
.chi-tit-thanh-ton-2-child11 {
  position: absolute;
  top: 1343px;
  left: 765px;
  border-radius: 50%;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.chi-tit-thanh-ton-2-child11 {
  top: 1363px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span109 {
  color: var(--color-red-300);
}
.h-tr-container11 {
  position: absolute;
  top: 1045px;
  left: 111px;
}
.blank-line38,
.gii-thiu11,
.n7-hng-n11 {
  margin: 0;
}
.gii-thiu-n7-container11 {
  position: absolute;
  top: 1199px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.thng-tin-lin11 {
  position: absolute;
  top: 1196px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh1 {
  position: absolute;
  top: 1242px;
  left: 788px;
}
.c-s-111,
.newsevenvngmailcom11 {
  position: absolute;
  top: 1361px;
  left: 788px;
}
.c-s-111 {
  top: 1288px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-211,
.div170 {
  position: absolute;
  top: 1315px;
  left: 788px;
}
.div170 {
  top: 1339px;
}
.chi-tit-thanh-ton-2-child12,
.chi-tit-thanh-ton-2-child13,
.chi-tit-thanh-ton-2-child14,
.chi-tit-thanh-ton-2-child15 {
  position: absolute;
  top: 1391px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.chi-tit-thanh-ton-2-child13,
.chi-tit-thanh-ton-2-child14,
.chi-tit-thanh-ton-2-child15 {
  left: 902px;
}
.chi-tit-thanh-ton-2-child14,
.chi-tit-thanh-ton-2-child15 {
  left: 845px;
}
.chi-tit-thanh-ton-2-child15 {
  left: 959px;
}
.group-child205 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 123px;
  height: 45px;
}
.t-hng {
  position: absolute;
  top: 13px;
  left: 19px;
}
.group-child206,
.rectangle-parent104 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 45px;
}
.group-child206 {
  background-color: var(--color-gray-1700);
}
.t-hng1 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent105 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 123px;
  height: 45px;
}
.chi-tit-thanh-ton-2-inner1,
.group-parent59 {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 45px;
}
.chi-tit-thanh-ton-2-inner1 {
  top: 619px;
  left: 913px;
  width: 123px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child207,
.group-child208 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child208 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-2-inner2,
.rectangle-parent106 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-2-inner2 {
  top: 382px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child209,
.group-child210 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child210 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-2-inner3,
.rectangle-parent107 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-2-inner3 {
  top: 518px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child211,
.group-child212 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child212 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-2-inner4,
.rectangle-parent108 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-2-inner4 {
  top: 653px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child213,
.group-child214 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child214 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-2-inner5,
.rectangle-parent109 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-2-inner5 {
  top: 382px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child215,
.group-child216 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child216 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-2-inner6,
.rectangle-parent110 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-2-inner6 {
  top: 518px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child217,
.group-child218 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child218 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-2-inner7,
.rectangle-parent111 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-2-inner7 {
  top: 653px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child219,
.group-child220 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 833px;
  height: 146px;
}
.group-child220 {
  top: 228px;
  background-color: var(--color-gray-1900);
}
.chi-tit-thanh-ton-2-inner8,
.rectangle-parent112 {
  position: absolute;
  top: 0;
  left: 0;
  width: 833px;
  height: 374px;
}
.chi-tit-thanh-ton-2-inner8 {
  top: 779px;
  left: 34px;
  height: 146px;
  overflow: hidden;
}
.home26,
.home27 {
  position: absolute;
  top: 0;
  left: 0;
}
.home27 {
  left: 105px;
  color: var(--color-gray-300);
}
.chi-tit-thanh-ton-2-inner9,
.home-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-2-inner9 {
  top: 45px;
  left: 270px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child221,
.shop26 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child221 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent20,
.shop27 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent20 {
  width: 78px;
  height: 29px;
}
.shop27 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child222,
.shop-parent21 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent21 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-2-inner10,
.group-parent60 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.chi-tit-thanh-ton-2-inner10 {
  top: 44px;
  left: 394px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact26,
.contact27 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact27 {
  left: 146px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-2-inner11,
.contact-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.chi-tit-thanh-ton-2-inner11 {
  top: 45px;
  left: 511px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group26,
.group27 {
  position: absolute;
  top: 0;
  left: 0;
}
.group27 {
  left: 94px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-2-inner12,
.group-parent61 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-2-inner12 {
  top: 45px;
  left: 672px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child223 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn11 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child224 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent113 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child225 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child225,
.group-wrapper21,
.rectangle-wrapper11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper21 {
  left: 367px;
}
.chi-tit-thanh-ton-2-inner13,
.group-parent62 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.chi-tit-thanh-ton-2-inner13 {
  top: 27px;
  left: 793px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chi-tit-thanh-ton-2-child16 {
  position: absolute;
  top: 44px;
  left: 1374px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon22,
.male-user-icon23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon23 {
  left: 55px;
}
.male-user-parent9,
.ng-nhp4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.ng-nhp4 {
  top: 44px;
  left: 1327px;
  width: 26px;
  overflow: hidden;
}
.seven11 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new23,
.p55 {
  margin: 0;
}
.p55 {
  font-size: var(--font-size-5xl);
}
.new22 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child226 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r11 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.chi-tit-thanh-ton-2-inner14,
.seven-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.chi-tit-thanh-ton-2-inner14 {
  top: 20px;
  left: 31px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.chi-tit-thanh-ton-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1557px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
