.chi-tit-thanh-ton-3-child,
.chi-tit-thanh-ton-3-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1557px;
}
.chi-tit-thanh-ton-3-item {
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container1 {
  position: absolute;
  top: 183px;
  left: 569px;
  font-size: var(--font-size-5xl);
}
.h-v-tn1,
.thng-tin-thanh1 {
  position: absolute;
  left: 31px;
}
.thng-tin-thanh1 {
  top: 280px;
  font-size: var(--font-size-5xl);
}
.h-v-tn1 {
  top: 339px;
}
.ghi-ch-n1,
.tnhthnh-ph1,
.xphng1 {
  position: absolute;
  top: 475px;
  left: 31px;
}
.ghi-ch-n1,
.xphng1 {
  top: 610px;
}
.ghi-ch-n1 {
  top: 742px;
}
.a-ch-email1,
.a-ch1,
.qunhuyn1 {
  position: absolute;
  top: 339px;
  left: 469px;
}
.a-ch1,
.qunhuyn1 {
  top: 475px;
}
.a-ch1 {
  top: 610px;
}
.chi-tit-thanh-ton-3-inner {
  position: absolute;
  top: 233.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.chi-tit-thanh-ton-3-child1 {
  position: absolute;
  top: 284px;
  left: 894px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 534px;
  height: 413px;
}
.cm-n-bn1,
.polo-striped-pl1374 {
  position: absolute;
  top: 586px;
  left: 913px;
  font-size: var(--font-size-base);
  color: var(--color-darkseagreen-100);
}
.polo-striped-pl1374 {
  top: 388px;
  font-weight: 600;
  color: var(--color-dimgray-100);
}
.div171,
.div172,
.div173,
.div174,
.tm-tnh2 {
  position: absolute;
  top: 429px;
  left: 913px;
  font-size: var(--font-size-base);
}
.div171,
.div172,
.div173,
.div174 {
  top: 384px;
  left: 1320px;
  font-weight: 800;
  color: var(--color-red-600);
}
.div172,
.div173,
.div174 {
  top: 424px;
}
.div173,
.div174 {
  top: 471px;
  left: 1325px;
}
.div174 {
  top: 511px;
  left: 1317px;
}
.giao-hng1 {
  top: 470px;
  left: 913px;
}
.giao-hng1,
.ph-ship1,
.tng1,
.tr-tin-mt1 {
  position: absolute;
  font-size: var(--font-size-base);
}
.ph-ship1 {
  top: 470px;
  left: 1245px;
  color: var(--color-dimgray-100);
}
.tng1,
.tr-tin-mt1 {
  top: 511px;
  left: 913px;
}
.tr-tin-mt1 {
  top: 552px;
}
.n-hng-ca1,
.sn-phm2,
.tm-tnh3 {
  position: absolute;
  top: 296px;
  left: 913px;
  font-size: var(--font-size-5xl);
}
.sn-phm2,
.tm-tnh3 {
  top: 347px;
  font-size: var(--font-size-base);
}
.tm-tnh3 {
  top: 343px;
  left: 1315px;
}
.chi-tit-thanh-ton-3-child2,
.chi-tit-thanh-ton-3-child3,
.chi-tit-thanh-ton-3-child4,
.chi-tit-thanh-ton-3-child5 {
  position: absolute;
  top: 372.5px;
  left: 912.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 482px;
  height: 1px;
}
.chi-tit-thanh-ton-3-child3,
.chi-tit-thanh-ton-3-child4,
.chi-tit-thanh-ton-3-child5 {
  top: 460.5px;
  width: 347px;
}
.chi-tit-thanh-ton-3-child4,
.chi-tit-thanh-ton-3-child5 {
  top: 498.5px;
  width: 482px;
}
.chi-tit-thanh-ton-3-child5 {
  top: 541.5px;
  opacity: 0.3;
}
.chi-tit-thanh-ton-3-child6 {
  position: absolute;
  top: 1001px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.chi-tit-thanh-ton-3-child7 {
  position: absolute;
  top: 1031px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.chi-tit-thanh-ton-3-child8,
.chi-tit-thanh-ton-3-child9 {
  position: absolute;
  top: 1289px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.chi-tit-thanh-ton-3-child9 {
  top: 1316px;
  left: 764px;
}
.chi-tit-thanh-ton-3-child10,
.chi-tit-thanh-ton-3-child11 {
  position: absolute;
  top: 1343px;
  left: 765px;
  border-radius: 50%;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.chi-tit-thanh-ton-3-child11 {
  top: 1363px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span110 {
  color: var(--color-red-300);
}
.h-tr-container12 {
  position: absolute;
  top: 1045px;
  left: 111px;
}
.blank-line39,
.gii-thiu12,
.n7-hng-n12 {
  margin: 0;
}
.gii-thiu-n7-container12 {
  position: absolute;
  top: 1199px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.thng-tin-lin12 {
  position: absolute;
  top: 1196px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh2 {
  position: absolute;
  top: 1242px;
  left: 788px;
}
.c-s-112,
.newsevenvngmailcom12 {
  position: absolute;
  top: 1361px;
  left: 788px;
}
.c-s-112 {
  top: 1288px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-212,
.div175 {
  position: absolute;
  top: 1315px;
  left: 788px;
}
.div175 {
  top: 1339px;
}
.chi-tit-thanh-ton-3-child12,
.chi-tit-thanh-ton-3-child13,
.chi-tit-thanh-ton-3-child14,
.chi-tit-thanh-ton-3-child15 {
  position: absolute;
  top: 1391px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.chi-tit-thanh-ton-3-child13,
.chi-tit-thanh-ton-3-child14,
.chi-tit-thanh-ton-3-child15 {
  left: 902px;
}
.chi-tit-thanh-ton-3-child14,
.chi-tit-thanh-ton-3-child15 {
  left: 845px;
}
.chi-tit-thanh-ton-3-child15 {
  left: 959px;
}
.group-child227 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 123px;
  height: 45px;
}
.t-hng2 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.group-child228,
.rectangle-parent114 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 45px;
}
.group-child228 {
  background-color: var(--color-gray-1700);
}
.t-hng3 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent115 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 123px;
  height: 45px;
}
.chi-tit-thanh-ton-3-inner1,
.group-parent63 {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 45px;
}
.chi-tit-thanh-ton-3-inner1 {
  top: 619px;
  left: 913px;
  width: 123px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child229,
.group-child230 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child230 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-3-inner2,
.rectangle-parent116 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-3-inner2 {
  top: 382px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child231,
.group-child232 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child232 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-3-inner3,
.rectangle-parent117 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-3-inner3 {
  top: 518px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child233,
.group-child234 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child234 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-3-inner4,
.rectangle-parent118 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-3-inner4 {
  top: 653px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child235,
.group-child236 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child236 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-3-inner5,
.rectangle-parent119 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-3-inner5 {
  top: 382px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child237,
.group-child238 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child238 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-3-inner6,
.rectangle-parent120 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-3-inner6 {
  top: 518px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child239,
.group-child240 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child240 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-3-inner7,
.rectangle-parent121 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-3-inner7 {
  top: 653px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child241,
.group-child242 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 833px;
  height: 146px;
}
.group-child242 {
  top: 228px;
  background-color: var(--color-gray-1900);
}
.chi-tit-thanh-ton-3-inner8,
.rectangle-parent122 {
  position: absolute;
  top: 0;
  left: 0;
  width: 833px;
  height: 374px;
}
.chi-tit-thanh-ton-3-inner8 {
  top: 779px;
  left: 34px;
  height: 146px;
  overflow: hidden;
}
.home28,
.home29 {
  position: absolute;
  top: 0;
  left: 0;
}
.home29 {
  left: 105px;
  color: var(--color-gray-300);
}
.chi-tit-thanh-ton-3-inner9,
.home-parent10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-3-inner9 {
  top: 45px;
  left: 270px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child243,
.shop28 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child243 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent22,
.shop29 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent22 {
  width: 78px;
  height: 29px;
}
.shop29 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child244,
.shop-parent23 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent23 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-3-inner10,
.group-parent64 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.chi-tit-thanh-ton-3-inner10 {
  top: 44px;
  left: 394px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact28,
.contact29 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact29 {
  left: 146px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-3-inner11,
.contact-parent10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.chi-tit-thanh-ton-3-inner11 {
  top: 45px;
  left: 511px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group28,
.group29 {
  position: absolute;
  top: 0;
  left: 0;
}
.group29 {
  left: 94px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-3-inner12,
.group-parent65 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-3-inner12 {
  top: 45px;
  left: 672px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child245 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn12 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child246 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent123 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child247 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child247,
.group-wrapper22,
.rectangle-wrapper12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper22 {
  left: 367px;
}
.chi-tit-thanh-ton-3-inner13,
.group-parent66 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.chi-tit-thanh-ton-3-inner13 {
  top: 27px;
  left: 793px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chi-tit-thanh-ton-3-child16 {
  position: absolute;
  top: 44px;
  left: 1374px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon24,
.male-user-icon25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon25 {
  left: 55px;
}
.male-user-parent10,
.ng-nhp5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.ng-nhp5 {
  top: 44px;
  left: 1327px;
  width: 26px;
  overflow: hidden;
}
.seven12 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new25,
.p56 {
  margin: 0;
}
.p56 {
  font-size: var(--font-size-5xl);
}
.new24 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child248 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r12 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.chi-tit-thanh-ton-3-inner14,
.seven-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.chi-tit-thanh-ton-3-inner14 {
  top: 20px;
  left: 31px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.chi-tit-thanh-ton-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1557px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
