.final-o-polo-2-child,
.final-o-polo-2-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1450px;
  height: 2935px;
}
.final-o-polo-2-item {
  background-color: var(--color-white);
  width: 1440px;
  height: 101px;
}
.trang-ch15 {
  position: absolute;
  top: 130px;
  left: 31px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  white-space: pre-wrap;
}
.polo-striped-pl1379 {
  top: 2101px;
  left: 674px;
  font-size: var(--font-size-xs);
  width: 120px;
  height: 17px;
}
.div380,
.o-thun-polo2,
.polo-striped-pl1379 {
  position: absolute;
  display: inline-block;
}
.div380 {
  top: 2119px;
  left: 260px;
  font-size: var(--font-size-base);
  color: var(--color-red-200);
  width: 82px;
  height: 21px;
}
.o-thun-polo2 {
  top: 2096px;
  left: 1100px;
  font-size: var(--font-size-xs);
  width: 244px;
  height: 22px;
}
.span221 {
  white-space: pre-wrap;
}
.span222 {
  color: var(--color-red-200);
}
.div381,
.polo-pitying-pl13411 {
  position: absolute;
  top: 2122px;
  left: 1176px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 92px;
  height: 21px;
}
.polo-pitying-pl13411 {
  top: 2099px;
  left: 197px;
  font-size: var(--font-size-xs);
  width: 153px;
}
.span223 {
  white-space: pre-wrap;
}
.span224 {
  color: var(--color-red-200);
}
.div382 {
  position: absolute;
  top: 2118px;
  left: 728px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 88px;
  height: 21px;
}
.o-polo-newseven3 {
  position: absolute;
  top: 186px;
  left: 772px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  color: inherit;
  text-decoration: none;
}
.span225 {
  white-space: pre-wrap;
}
.span226 {
  color: var(--color-red-200);
}
.div383,
.wrapper27 {
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper27 {
  top: 249px;
  left: 774px;
  width: 240px;
  height: 29px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.final-o-polo-2-inner {
  position: absolute;
  top: 1642px;
  left: 57px;
  width: 397px;
  height: 443px;
  object-fit: cover;
  cursor: pointer;
}
.div384 {
  position: absolute;
  top: 1667px;
  left: 76px;
  font-size: var(--font-size-sm);
  color: var(--color-red-500);
}
.final-o-polo-2-child1 {
  position: absolute;
  top: 1642px;
  left: 526px;
  width: 398px;
  height: 443px;
  object-fit: cover;
  cursor: pointer;
}
.div385 {
  position: absolute;
  top: 1675px;
  left: 548px;
  font-size: var(--font-size-sm);
  color: var(--color-red-500);
}
.final-o-polo-2-child2 {
  position: absolute;
  top: 1642px;
  left: 997px;
  width: 397px;
  height: 443px;
  object-fit: cover;
  cursor: pointer;
}
.final-o-polo-2-child3,
.final-o-polo-2-child4,
.final-o-polo-2-child5,
.final-o-polo-2-child6 {
  position: absolute;
  top: 313.5px;
  left: 773.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 567px;
  height: 1px;
}
.final-o-polo-2-child4,
.final-o-polo-2-child5,
.final-o-polo-2-child6 {
  top: 369.5px;
}
.final-o-polo-2-child5,
.final-o-polo-2-child6 {
  top: 442.5px;
}
.final-o-polo-2-child6 {
  top: 510.5px;
}
.cn-hng7 {
  font-weight: 600;
  color: var(--color-forestgreen);
}
.tnh-trng-cn-container7 {
  position: absolute;
  top: 330px;
  left: 774px;
}
.dang-mc-o3,
.m-na7 {
  position: absolute;
  top: 393px;
  left: 772px;
}
.dang-mc-o3 {
  top: 471px;
  left: 774px;
}
.mu7,
.size14,
.t-kho-polo1 {
  position: absolute;
  top: 537px;
  left: 772px;
}
.mu7,
.size14 {
  top: 634px;
  left: 774px;
}
.size14 {
  top: 700px;
}
.final-o-polo-2-child10,
.final-o-polo-2-child7,
.final-o-polo-2-child8,
.final-o-polo-2-child9 {
  position: absolute;
  top: 1003px;
  left: 31px;
  width: 158px;
  height: 160px;
  object-fit: cover;
}
.final-o-polo-2-child10,
.final-o-polo-2-child8,
.final-o-polo-2-child9 {
  left: 398px;
}
.final-o-polo-2-child10,
.final-o-polo-2-child9 {
  left: 215px;
}
.final-o-polo-2-child10 {
  left: 584px;
}
.sn-phm-tng7 {
  position: absolute;
  top: 1549px;
  left: 33px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.final-o-polo-2-child11 {
  position: absolute;
  top: 2212px;
  left: 0;
  background-color: var(--color-white);
  width: 1442px;
  height: 111px;
}
.vector-icon26 {
  position: absolute;
  height: 2.76%;
  width: 6.6%;
  top: 71.35%;
  right: 86.94%;
  bottom: 25.89%;
  left: 6.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.final-o-polo-2-child12 {
  position: absolute;
  top: 2241px;
  left: 39px;
  border-radius: 50%;
  width: 53.8px;
  height: 50px;
  object-fit: cover;
}
.span227 {
  color: var(--color-red-300);
}
.h-tr-container41 {
  position: absolute;
  top: 2254px;
  left: 111px;
  display: inline-block;
  width: 324px;
  height: 22px;
}
.blank-line74,
.gii-thiu41,
.n7-hng-n41 {
  margin: 0;
}
.gii-thiu-n7-container40 {
  position: absolute;
  top: 2399px;
  left: 21px;
  display: inline-block;
  width: 688px;
  height: 91px;
}
.chi-tit-sn7 {
  position: absolute;
  top: 1200px;
  left: 31px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.div386 {
  display: inline-block;
}
.div386,
.final-o-polo-2-inner1,
.wrapper28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 21px;
}
.final-o-polo-2-inner1 {
  top: 2119px;
  left: 169px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.span228 {
  white-space: pre-wrap;
}
.span229 {
  color: var(--color-gray-100);
}
.div387,
.wrapper29 {
  position: absolute;
  width: 89px;
  height: 21px;
}
.div387 {
  top: 0;
  left: 0;
  display: inline-block;
}
.wrapper29 {
  top: 2118px;
  left: 639px;
  font-size: var(--font-size-base);
  color: rgba(0, 0, 0, 0.52);
}
.final-o-polo-2-child13,
.final-o-polo-2-child14,
.final-o-polo-2-child15,
.final-o-polo-2-child16 {
  position: absolute;
  top: 2590px;
  left: 765px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.final-o-polo-2-child14,
.final-o-polo-2-child15,
.final-o-polo-2-child16 {
  left: 877px;
}
.final-o-polo-2-child15,
.final-o-polo-2-child16 {
  left: 821px;
}
.final-o-polo-2-child16 {
  left: 933px;
}
.cng-ty-tnhh13,
.thng-tin-lin41 {
  position: absolute;
  top: 0;
  left: 27px;
  display: inline-block;
  width: 191px;
  height: 39px;
}
.cng-ty-tnhh13 {
  top: 33px;
  left: 29px;
  width: 202px;
  height: 29px;
}
.group-child840 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.c-s-141 {
  position: absolute;
  top: 0;
  left: 29px;
  display: inline-block;
  width: 413px;
  height: 23px;
}
.group-child841,
.vector-parent12 {
  position: absolute;
  top: 69px;
  left: 0;
  width: 442px;
  height: 23px;
}
.group-child841 {
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.c-s-241 {
  position: absolute;
  top: 0;
  left: 27px;
  display: inline-block;
  width: 419px;
  height: 48px;
}
.ellipse-parent13,
.group-child842 {
  position: absolute;
  top: 105px;
  left: 0;
  width: 446px;
  height: 48px;
}
.group-child842 {
  top: 8px;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.blank-line75,
.blank-line76,
.blank-line77,
.p98 {
  margin: 0;
}
.p100,
.p101,
.p102,
.p99 {
  margin: 0;
  white-space: pre-wrap;
}
.div388,
.div389 {
  position: absolute;
  top: 0;
  left: 1px;
  display: inline-block;
  width: 688px;
  height: 28px;
}
.div389 {
  top: 5px;
  left: 18px;
  width: 158px;
  height: 23px;
}
.group-child843,
.vector-parent13 {
  position: absolute;
  top: 134px;
  left: 4px;
  width: 689px;
  height: 28px;
}
.group-child843 {
  top: 5px;
  left: 0;
  border-radius: 50%;
  width: 16px;
  height: 17px;
  object-fit: cover;
}
.newsevenvngmailcom41 {
  position: absolute;
  top: 0;
  left: 23px;
  display: inline-block;
  width: 245px;
  height: 25px;
}
.ellipse-parent14 {
  position: absolute;
  top: 169px;
  left: 4px;
  width: 268px;
  height: 25px;
}
.group-child844,
.thng-tin-lin-h-parent5 {
  position: absolute;
  top: 2389px;
  left: 765px;
  width: 693px;
  height: 194px;
}
.group-child844 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.m37 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
}
.group-child845,
.rectangle-parent387 {
  position: absolute;
  top: 0;
  left: 73px;
  width: 40px;
  height: 40px;
}
.group-child845 {
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
}
.m38 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
  text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
    0-1px 0 transparent;
}
.group-parent204,
.rectangle-parent388 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-parent204 {
  width: 113px;
}
.final-o-polo-2-inner2,
.group-child846 {
  position: absolute;
  width: 40px;
  height: 40px;
}
.final-o-polo-2-inner2 {
  top: 684px;
  left: 945px;
  overflow: hidden;
}
.group-child846 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.l25 {
  position: absolute;
  top: 8px;
  left: 15px;
  display: inline-block;
  width: 23px;
}
.group-child847,
.rectangle-parent389 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-child847 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.l26 {
  position: absolute;
  top: 8px;
  left: 15px;
  display: inline-block;
  width: 23px;
}
.group-parent205,
.rectangle-parent390 {
  position: absolute;
  top: 0;
  left: 81px;
  width: 40px;
  height: 40px;
}
.group-parent205 {
  left: 0;
  width: 121px;
}
.final-o-polo-2-inner3,
.group-child848 {
  position: absolute;
  width: 40px;
  height: 40px;
}
.final-o-polo-2-inner3 {
  top: 684px;
  left: 1005px;
  overflow: hidden;
}
.group-child848 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.xl18 {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  width: 32px;
}
.group-child849,
.rectangle-parent391 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-child849 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.xl19 {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  width: 32px;
}
.rectangle-parent392 {
  position: absolute;
  top: 0;
  left: 72px;
  width: 40px;
  height: 40px;
}
.final-o-polo-2-inner4,
.group-parent206 {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 40px;
}
.final-o-polo-2-inner4 {
  top: 684px;
  left: 1064px;
  width: 40px;
  overflow: hidden;
}
.final-o-polo-2-child17 {
  position: absolute;
  top: 186px;
  left: 36px;
  width: 711px;
  height: 780px;
  object-fit: cover;
}
.group-child850 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 222px;
  height: 42px;
}
.thm-vo-gi18 {
  position: absolute;
  top: 9px;
  left: 17px;
}
.group-child851,
.rectangle-parent393 {
  position: absolute;
  top: 0;
  left: 0;
  width: 222px;
  height: 42px;
}
.group-child851 {
  background-color: var(--color-dimgray-300);
}
.thm-vo-gi19 {
  position: absolute;
  top: 9px;
  left: 17px;
}
.rectangle-parent394 {
  position: absolute;
  top: 0;
  left: 246px;
  width: 222px;
  height: 42px;
}
.final-o-polo-2-inner5,
.group-parent207 {
  position: absolute;
  top: 0;
  left: 0;
  width: 468px;
  height: 42px;
}
.final-o-polo-2-inner5 {
  top: 772px;
  left: 945px;
  width: 222px;
  overflow: hidden;
  color: var(--color-white);
}
.group-child852,
.group-child853 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 40px;
  height: 40px;
}
.group-child853 {
  left: 66px;
  background-color: var(--color-gray-1200);
}
.final-o-polo-2-inner6,
.rectangle-parent395 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 40px;
}
.final-o-polo-2-inner6 {
  top: 626px;
  left: 945px;
  width: 40px;
  overflow: hidden;
}
.bng-trn-ch3,
.c-o-c,
.cht-liu-100,
.hng-chun-newseven,
.hnh-in-mc,
.size-l,
.size-m-1m50-1m60,
.size-xl-1m70-1m8065-75kg,
.thit-k-gip,
.thng-s-chn3,
.thng-tin-sn3,
.x-l-chng {
  margin: 0;
}
.thng-tin-sn-container3 {
  position: absolute;
  top: 1251px;
  left: 36px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.group-child854 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-orangered-200);
  width: 420px;
  height: 117px;
}
.mua-ngay18 {
  position: absolute;
  top: 15px;
  right: 111px;
}
.gi-in-xc18 {
  position: absolute;
  top: 77px;
  left: 27px;
  font-size: var(--font-size-xl);
}
.group-child855,
.rectangle-parent396 {
  position: absolute;
  top: 0;
  left: 479px;
  width: 420px;
  height: 117px;
}
.group-child855 {
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-orangered-100);
}
.mua-ngay19 {
  position: absolute;
  top: 15px;
  right: 111px;
}
.gi-in-xc19 {
  position: absolute;
  top: 77px;
  left: 27px;
  font-size: var(--font-size-xl);
}
.rectangle-parent397 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 117px;
  color: var(--color-white);
}
.final-o-polo-2-inner7,
.frame-wrapper46,
.group-parent208,
.group-wrapper62,
.group-wrapper63 {
  position: absolute;
  top: 0;
  left: 0;
  width: 899px;
  height: 117px;
}
.final-o-polo-2-inner7 {
  top: 848px;
  left: 781px;
  width: 420px;
  overflow: hidden;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-1300);
}
.group-child856,
.group-child857 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child857 {
  left: 156px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b54,
.b55 {
  position: absolute;
  top: 9px;
  left: 7px;
}
.b55 {
  left: 163px;
  color: var(--color-gray-400);
}
.group-child858,
.group-child859 {
  position: absolute;
  top: 0;
  left: 84px;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child859 {
  left: 240px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b56,
.b57 {
  position: absolute;
  top: 9px;
  left: 89px;
}
.b57 {
  left: 245px;
  color: var(--color-gray-400);
}
.group-child860,
.group-child861 {
  position: absolute;
  top: 0;
  left: 24px;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 60px;
  height: 42px;
}
.group-child861 {
  left: 180px;
}
.b58,
.b59 {
  position: absolute;
  top: 9px;
  left: 49px;
}
.b59 {
  left: 205px;
}
.rectangle-parent398 {
  position: absolute;
  top: 0;
  left: 0;
  width: 264px;
  height: 42px;
}
.div390,
.th-t8 {
  position: absolute;
}
.th-t8 {
  top: 772px;
  left: 781px;
  width: 108px;
  height: 42px;
  overflow: hidden;
}
.div390 {
  top: 235px;
  left: 47px;
  font-size: var(--font-size-sm);
  color: var(--color-red-400);
}
.home97,
.home98 {
  position: absolute;
  top: 0;
  left: 0;
}
.home98 {
  left: 105px;
  color: var(--color-gray-300);
}
.final-o-polo-2-inner8,
.home-parent41 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.final-o-polo-2-inner8 {
  top: 39px;
  left: 223px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child862,
.shop97 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child862 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent84,
.shop98 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent84 {
  width: 78px;
  height: 29px;
}
.shop98 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child863,
.shop-parent85 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent85 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.final-o-polo-2-inner9,
.group-parent209 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.final-o-polo-2-inner9 {
  top: 38px;
  left: 347px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact98,
.contact99 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact99 {
  left: 146px;
  color: var(--color-gray-400);
}
.contact-parent41,
.final-o-polo-2-inner10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.final-o-polo-2-inner10 {
  top: 39px;
  left: 464px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group107,
.group108 {
  position: absolute;
  top: 0;
  left: 0;
}
.group108 {
  left: 94px;
  color: var(--color-gray-400);
}
.final-o-polo-2-inner11,
.group-parent210 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.final-o-polo-2-inner11 {
  top: 39px;
  left: 625px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child864 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn43 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child865 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent399 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child866 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child866,
.group-wrapper64,
.rectangle-wrapper43 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper64 {
  left: 367px;
}
.final-o-polo-2-inner12,
.group-parent211 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.final-o-polo-2-inner12 {
  top: 21px;
  left: 746px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.final-o-polo-2-child18 {
  position: absolute;
  top: 38px;
  left: 1327px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon86,
.male-user-icon87 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon87 {
  left: 55px;
}
.final-o-polo-2-inner13,
.male-user-parent41 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.final-o-polo-2-inner13 {
  top: 38px;
  left: 1280px;
  width: 26px;
  overflow: hidden;
}
.seven43 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new87,
.p103 {
  margin: 0;
}
.p103 {
  font-size: var(--font-size-5xl);
}
.new86 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child867 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r43 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.final-o-polo-2-inner14,
.seven-parent35 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.final-o-polo-2-inner14 {
  top: 18px;
  left: 18px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.final-o-polo-2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2710px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
