.final-o-t-short-3-child,
.final-o-t-short-3-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1450px;
  height: 2935px;
}
.final-o-t-short-3-item {
  background-color: var(--color-white);
  width: 1440px;
  height: 101px;
}
.trang-ch6 {
  position: absolute;
  top: 130px;
  left: 31px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  white-space: pre-wrap;
}
.qun-short-newseven4 {
  margin: 0;
}
.div99,
.qun-short-insert5,
.qun-short-newseven-container4 {
  position: absolute;
  top: 2108px;
  left: 623px;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 233px;
  height: 17px;
}
.div99,
.qun-short-insert5 {
  top: 2109px;
  left: 1151px;
  width: 138px;
  height: 22px;
}
.div99 {
  top: 2132px;
  left: 1220px;
  font-size: var(--font-size-base);
  color: var(--color-red-200);
  white-space: pre-wrap;
  width: 92px;
  height: 21px;
}
.qun-short-newseven5 {
  margin: 0;
}
.qun-short-newseven-container5 {
  position: absolute;
  top: 2105px;
  left: 141px;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 245px;
  height: 21px;
}
.div100 {
  top: 2126px;
  left: 723px;
  font-size: var(--font-size-base);
  color: var(--color-red-200);
  white-space: pre-wrap;
  width: 88px;
  height: 21px;
}
.div100,
.div101,
.short-newseven-chopper4 {
  position: absolute;
  display: inline-block;
}
.div101 {
  top: 2132px;
  left: 212px;
  font-size: var(--font-size-base);
  color: var(--color-red-200);
  white-space: pre-wrap;
  width: 88px;
  height: 21px;
}
.short-newseven-chopper4 {
  top: 186px;
  left: 772px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  width: 523px;
  height: 29px;
}
.text14 {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre-wrap;
}
.text-wrapper3 {
  position: absolute;
  top: 262px;
  left: 774px;
  width: 0;
  height: 29px;
  font-size: var(--font-size-5xl);
}
.span62 {
  color: var(--color-red-200);
}
.div102,
.wrapper16 {
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper16 {
  top: 248px;
  left: 900px;
  width: 120px;
  height: 29px;
  font-size: var(--font-size-5xl);
}
.final-o-t-short-3-child1,
.final-o-t-short-3-child2,
.final-o-t-short-3-inner {
  position: absolute;
  top: 1656px;
  left: 57px;
  width: 397px;
  height: 443px;
  object-fit: cover;
  cursor: pointer;
}
.final-o-t-short-3-child1,
.final-o-t-short-3-child2 {
  left: 526px;
  width: 398px;
}
.final-o-t-short-3-child2 {
  left: 997px;
  width: 397px;
}
.div103,
.div104 {
  position: absolute;
  top: 1692px;
  left: 1026px;
  font-size: var(--font-size-sm);
  color: var(--color-red-500);
}
.div104 {
  top: 1701px;
  left: 556px;
}
.final-o-t-short-3-child3 {
  position: absolute;
  top: 313.5px;
  left: 773.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 567px;
  height: 1px;
}
.final-o-t-short-3-child4,
.final-o-t-short-3-child5,
.final-o-t-short-3-child6,
.final-o-t-short-3-child7 {
  position: absolute;
  top: 313.5px;
  left: 907.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 433px;
  height: 1px;
}
.final-o-t-short-3-child5,
.final-o-t-short-3-child6,
.final-o-t-short-3-child7 {
  top: 369.5px;
  left: 773.5px;
  width: 567px;
}
.final-o-t-short-3-child6,
.final-o-t-short-3-child7 {
  top: 442.5px;
}
.final-o-t-short-3-child7 {
  top: 510.5px;
}
.cn-hng4 {
  font-weight: 600;
  color: var(--color-forestgreen);
}
.tnh-trng-cn-container4 {
  position: absolute;
  top: 330px;
  left: 774px;
}
.dang-mc-qun2,
.m-na4 {
  position: absolute;
  top: 393px;
  left: 772px;
}
.dang-mc-qun2 {
  top: 471px;
  left: 774px;
}
.mu4,
.size5,
.t-kho-qun2 {
  position: absolute;
  top: 537px;
  left: 772px;
}
.mu4,
.size5 {
  top: 634px;
  left: 774px;
}
.size5 {
  top: 700px;
}
.final-o-t-short-3-child8 {
  position: absolute;
  top: 1003px;
  left: 31px;
  width: 158px;
  height: 160px;
  object-fit: cover;
}
.final-o-t-short-3-child10,
.final-o-t-short-3-child11,
.final-o-t-short-3-child9 {
  position: absolute;
  top: 1003px;
  left: 398px;
  width: 158px;
  height: 160px;
  object-fit: cover;
}
.final-o-t-short-3-child10,
.final-o-t-short-3-child11 {
  left: 215px;
}
.final-o-t-short-3-child11 {
  left: 584px;
}
.sn-phm-tng4 {
  position: absolute;
  top: 1563px;
  left: 33px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.final-o-t-short-3-child12 {
  position: absolute;
  top: 2226px;
  left: 0;
  background-color: var(--color-white);
  width: 1442px;
  height: 111px;
}
.vector-icon5 {
  position: absolute;
  height: 2.76%;
  width: 6.6%;
  top: 71.82%;
  right: 86.94%;
  bottom: 25.42%;
  left: 6.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.final-o-t-short-3-child13 {
  position: absolute;
  top: 2255px;
  left: 39px;
  border-radius: 50%;
  width: 53.8px;
  height: 50px;
  object-fit: cover;
}
.span63 {
  color: var(--color-red-300);
}
.h-tr-container6 {
  position: absolute;
  top: 2268px;
  left: 111px;
  display: inline-block;
  width: 324px;
  height: 22px;
}
.blank-line21,
.gii-thiu6,
.n7-hng-n6 {
  margin: 0;
}
.gii-thiu-n7-container6 {
  position: absolute;
  top: 2413px;
  left: 21px;
  display: inline-block;
  width: 688px;
  height: 91px;
}
.chi-tit-sn4 {
  position: absolute;
  top: 1200px;
  left: 31px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.div105,
.wrapper17 {
  position: absolute;
  width: 89px;
  height: 21px;
}
.div105 {
  top: 0;
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
}
.wrapper17 {
  top: 2132px;
  left: 1135px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.final-o-t-short-3-child14,
.final-o-t-short-3-child15,
.final-o-t-short-3-child16,
.final-o-t-short-3-child17 {
  position: absolute;
  top: 2604px;
  left: 765px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.final-o-t-short-3-child15,
.final-o-t-short-3-child16,
.final-o-t-short-3-child17 {
  left: 877px;
}
.final-o-t-short-3-child16,
.final-o-t-short-3-child17 {
  left: 821px;
}
.final-o-t-short-3-child17 {
  left: 933px;
}
.cng-ty-tnhh5,
.thng-tin-lin6 {
  position: absolute;
  top: 0;
  left: 27px;
  display: inline-block;
  width: 191px;
  height: 39px;
}
.cng-ty-tnhh5 {
  top: 33px;
  left: 29px;
  width: 202px;
  height: 29px;
}
.group-child123 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.c-s-16 {
  position: absolute;
  top: 0;
  left: 29px;
  display: inline-block;
  width: 413px;
  height: 23px;
}
.group-child124,
.vector-parent6 {
  position: absolute;
  top: 69px;
  left: 0;
  width: 442px;
  height: 23px;
}
.group-child124 {
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.c-s-26 {
  position: absolute;
  top: 0;
  left: 27px;
  display: inline-block;
  width: 419px;
  height: 48px;
}
.ellipse-parent7,
.group-child125 {
  position: absolute;
  top: 105px;
  left: 0;
  width: 446px;
  height: 48px;
}
.group-child125 {
  top: 8px;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.blank-line22,
.blank-line23,
.blank-line24,
.p33 {
  margin: 0;
}
.p34,
.p35,
.p36,
.p37 {
  margin: 0;
  white-space: pre-wrap;
}
.div106,
.div107 {
  position: absolute;
  top: 0;
  left: 1px;
  display: inline-block;
  width: 688px;
  height: 28px;
}
.div107 {
  top: 5px;
  left: 18px;
  width: 158px;
  height: 23px;
}
.group-child126,
.vector-parent7 {
  position: absolute;
  top: 134px;
  left: 4px;
  width: 689px;
  height: 28px;
}
.group-child126 {
  top: 5px;
  left: 0;
  border-radius: 50%;
  width: 16px;
  height: 17px;
  object-fit: cover;
}
.newsevenvngmailcom6 {
  position: absolute;
  top: 0;
  left: 23px;
  display: inline-block;
  width: 245px;
  height: 25px;
}
.ellipse-parent8 {
  position: absolute;
  top: 169px;
  left: 4px;
  width: 268px;
  height: 25px;
}
.group-child127,
.thng-tin-lin-h-parent2 {
  position: absolute;
  top: 2403px;
  left: 765px;
  width: 693px;
  height: 194px;
}
.group-child127 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.m9 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
}
.group-child128,
.rectangle-parent71 {
  position: absolute;
  top: 0;
  left: 73px;
  width: 40px;
  height: 40px;
}
.group-child128 {
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
}
.m10 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
  text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
    0-1px 0 transparent;
}
.final-o-t-short-3-inner1,
.group-parent34,
.rectangle-parent72 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.final-o-t-short-3-inner1,
.group-parent34 {
  width: 113px;
}
.final-o-t-short-3-inner1 {
  top: 684px;
  left: 945px;
  width: 40px;
  overflow: hidden;
}
.group-child129 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 40px;
  height: 40px;
}
.l9 {
  position: absolute;
  top: 8px;
  left: 15px;
  display: inline-block;
  width: 23px;
}
.group-child130,
.rectangle-parent73 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-child130 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.l10 {
  position: absolute;
  top: 8px;
  left: 15px;
  display: inline-block;
  width: 23px;
}
.rectangle-parent74 {
  position: absolute;
  top: 0;
  left: 81px;
  width: 40px;
  height: 40px;
}
.final-o-t-short-3-inner2,
.group-parent35 {
  position: absolute;
  top: 0;
  left: 0;
  width: 121px;
  height: 40px;
}
.final-o-t-short-3-inner2 {
  top: 684px;
  left: 1005px;
  width: 40px;
  overflow: hidden;
}
.group-child131 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 40px;
  height: 40px;
}
.xl8 {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  width: 32px;
}
.group-child132,
.rectangle-parent75 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-child132 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.xl9 {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  width: 32px;
}
.rectangle-parent76 {
  position: absolute;
  top: 0;
  left: 72px;
  width: 40px;
  height: 40px;
}
.final-o-t-short-3-inner3,
.group-parent36 {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 40px;
}
.final-o-t-short-3-inner3 {
  top: 684px;
  left: 1064px;
  width: 40px;
  overflow: hidden;
}
.final-o-t-short-3-child18 {
  position: absolute;
  top: 186px;
  left: 36px;
  width: 711px;
  height: 780px;
  object-fit: cover;
}
.group-child133 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 222px;
  height: 42px;
}
.thm-vo-gi8 {
  position: absolute;
  top: 9px;
  left: 17px;
}
.group-child134,
.rectangle-parent77 {
  position: absolute;
  top: 0;
  left: 0;
  width: 222px;
  height: 42px;
}
.group-child134 {
  background-color: var(--color-dimgray-300);
}
.thm-vo-gi9 {
  position: absolute;
  top: 9px;
  left: 17px;
}
.rectangle-parent78 {
  position: absolute;
  top: 0;
  left: 246px;
  width: 222px;
  height: 42px;
}
.final-o-t-short-3-inner4,
.group-parent37 {
  position: absolute;
  top: 0;
  left: 0;
  width: 468px;
  height: 42px;
}
.final-o-t-short-3-inner4 {
  top: 772px;
  left: 945px;
  width: 222px;
  overflow: hidden;
  color: var(--color-white);
}
.group-child135,
.group-child136 {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
}
.group-child135 {
  left: 0;
  background-color: #242946;
}
.group-child136 {
  left: 66px;
  background-color: rgba(36, 41, 70, 0.62);
}
.final-o-t-short-3-inner5,
.rectangle-parent79 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 40px;
}
.final-o-t-short-3-inner5 {
  top: 626px;
  left: 945px;
  width: 40px;
  overflow: hidden;
}
.group-child137,
.group-child138 {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
}
.group-child137 {
  left: 0;
  background-color: #dcc18a;
}
.group-child138 {
  left: 66px;
  background-color: rgba(220, 193, 138, 0.62);
}
.final-o-t-short-3-inner6,
.rectangle-parent80 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 40px;
}
.final-o-t-short-3-inner6 {
  top: 626px;
  left: 1005px;
  width: 40px;
  overflow: hidden;
}
.group-child139,
.group-child140 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightgray-100);
  width: 40px;
  height: 40px;
}
.group-child140 {
  left: 66px;
  background-color: var(--color-lightgray-200);
}
.final-o-t-short-3-inner7,
.rectangle-parent81 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 40px;
}
.final-o-t-short-3-inner7 {
  top: 626px;
  left: 1066px;
  width: 40px;
  overflow: hidden;
}
.group-child141 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-orangered-200);
  width: 420px;
  height: 117px;
}
.mua-ngay8 {
  position: absolute;
  top: 15px;
  right: 111px;
}
.gi-in-xc8 {
  position: absolute;
  top: 77px;
  left: 27px;
  font-size: var(--font-size-xl);
}
.group-child142,
.rectangle-parent82 {
  position: absolute;
  top: 0;
  left: 479px;
  width: 420px;
  height: 117px;
}
.group-child142 {
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-orangered-100);
}
.mua-ngay9 {
  position: absolute;
  top: 15px;
  right: 111px;
}
.gi-in-xc9 {
  position: absolute;
  top: 77px;
  left: 27px;
  font-size: var(--font-size-xl);
}
.rectangle-parent83 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 117px;
  color: var(--color-white);
}
.final-o-t-short-3-inner8,
.frame-wrapper43,
.group-parent38,
.group-wrapper12,
.group-wrapper13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 899px;
  height: 117px;
}
.final-o-t-short-3-inner8 {
  top: 848px;
  left: 781px;
  width: 420px;
  overflow: hidden;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-1300);
}
.group-child143,
.group-child144 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child144 {
  left: 156px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b24,
.b25 {
  position: absolute;
  top: 9px;
  left: 7px;
}
.b25 {
  left: 163px;
  color: var(--color-gray-400);
}
.group-child145,
.group-child146 {
  position: absolute;
  top: 0;
  left: 84px;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child146 {
  left: 240px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b26,
.b27 {
  position: absolute;
  top: 9px;
  left: 89px;
}
.b27 {
  left: 245px;
  color: var(--color-gray-400);
}
.group-child147,
.group-child148 {
  position: absolute;
  top: 0;
  left: 24px;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 60px;
  height: 42px;
}
.group-child148 {
  left: 180px;
}
.b28,
.b29 {
  position: absolute;
  top: 9px;
  left: 49px;
}
.b29 {
  left: 205px;
}
.rectangle-parent84 {
  position: absolute;
  top: 0;
  left: 0;
  width: 264px;
  height: 42px;
}
.th-t4 {
  top: 772px;
  left: 781px;
  width: 108px;
  height: 42px;
  overflow: hidden;
}
.div108,
.div109,
.th-t4 {
  position: absolute;
}
.div108 {
  top: 231px;
  left: 64px;
  font-size: var(--font-size-sm);
  color: var(--color-red-500);
}
.div109 {
  top: 0;
  left: 0;
}
.final-o-t-short-3-inner9,
.wrapper18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 124px;
  height: 29px;
}
.final-o-t-short-3-inner9 {
  top: 248px;
  left: 765px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.div110,
.wrapper19 {
  position: absolute;
  width: 89px;
  height: 21px;
}
.div110 {
  top: 0;
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
}
.wrapper19 {
  top: 2126px;
  left: 635px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.hng-chun-newseven-sn-xut,
.short-chopper-qs132 {
  margin: 0;
}
.short-chopper-qs132-container {
  position: absolute;
  top: 1254px;
  left: 31px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.b-mt-vi,
.vi-mm-mi,
.vi-t-nhn {
  margin: 0;
}
.vi-mm-mi-container {
  position: absolute;
  top: 1312px;
  left: 31px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.mc-nh1,
.newseven-mang-n-sn,
.ng-may-chun,
.thit-k-hin {
  margin: 0;
}
.ng-may-chun-container {
  position: absolute;
  top: 1392px;
  left: 31px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.home13,
.home14 {
  position: absolute;
  top: 0;
  left: 0;
}
.home14 {
  left: 105px;
  color: var(--color-gray-300);
}
.final-o-t-short-3-inner10,
.home-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.final-o-t-short-3-inner10 {
  top: 39px;
  left: 254px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child149,
.shop13 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child149 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent10,
.shop14 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent10 {
  width: 78px;
  height: 29px;
}
.shop14 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child150,
.shop-parent11 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent11 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.final-o-t-short-3-inner11,
.group-parent39 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.final-o-t-short-3-inner11 {
  top: 38px;
  left: 378px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact13,
.contact14 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact14 {
  left: 146px;
  color: var(--color-gray-400);
}
.contact-parent4,
.final-o-t-short-3-inner12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.final-o-t-short-3-inner12 {
  top: 39px;
  left: 495px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group13,
.group14 {
  position: absolute;
  top: 0;
  left: 0;
}
.group14 {
  left: 94px;
  color: var(--color-gray-400);
}
.final-o-t-short-3-inner13,
.group-parent40 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.final-o-t-short-3-inner13 {
  top: 39px;
  left: 656px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child151 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn6 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child152 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent85 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child153 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child153,
.group-wrapper14,
.rectangle-wrapper6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper14 {
  left: 367px;
}
.final-o-t-short-3-inner14,
.group-parent41 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.final-o-t-short-3-inner14 {
  top: 21px;
  left: 777px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.final-o-t-short-3-child19 {
  position: absolute;
  top: 38px;
  left: 1358px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon12,
.male-user-icon13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon13 {
  left: 55px;
}
.final-o-t-short-3-inner15,
.male-user-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.final-o-t-short-3-inner15 {
  top: 38px;
  left: 1311px;
  width: 26px;
  overflow: hidden;
}
.seven6 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new13,
.p38 {
  margin: 0;
}
.p38 {
  font-size: var(--font-size-5xl);
}
.new12 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child154 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r6 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.final-o-t-short-3-inner16,
.seven-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.final-o-t-short-3-inner16 {
  top: 18px;
  left: 31px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.final-o-t-short-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2935px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
