.final-o-t-short-4-child,
.final-o-t-short-4-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1450px;
  height: 2935px;
}
.final-o-t-short-4-item {
  background-color: var(--color-white);
  width: 1440px;
  height: 101px;
}
.trang-ch7 {
  position: absolute;
  top: 130px;
  left: 31px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  white-space: pre-wrap;
}
.qun-short-newseven6 {
  margin: 0;
}
.div111,
.qun-short-insert6,
.qun-short-newseven-container6 {
  position: absolute;
  top: 2152px;
  left: 623px;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 233px;
  height: 17px;
}
.div111,
.qun-short-insert6 {
  top: 2147px;
  left: 1151px;
  width: 138px;
  height: 22px;
}
.div111 {
  top: 2166px;
  left: 1197px;
  font-size: var(--font-size-base);
  color: var(--color-red-200);
  white-space: pre-wrap;
  width: 92px;
  height: 21px;
}
.qun-short-newseven7 {
  margin: 0;
}
.qun-short-newseven-container7 {
  position: absolute;
  top: 2149px;
  left: 141px;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 245px;
  height: 21px;
}
.div112 {
  top: 2170px;
  left: 723px;
  font-size: var(--font-size-base);
  color: var(--color-red-200);
  white-space: pre-wrap;
  width: 88px;
  height: 21px;
}
.div112,
.div113,
.qun-short-insert7 {
  position: absolute;
  display: inline-block;
}
.div113 {
  top: 2176px;
  left: 212px;
  font-size: var(--font-size-base);
  color: var(--color-red-200);
  white-space: pre-wrap;
  width: 88px;
  height: 21px;
}
.qun-short-insert7 {
  top: 186px;
  left: 772px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
  width: 523px;
  height: 29px;
}
.text15 {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre-wrap;
}
.text-wrapper4 {
  position: absolute;
  top: 262px;
  left: 774px;
  width: 0;
  height: 29px;
  font-size: var(--font-size-5xl);
}
.span64 {
  color: var(--color-red-200);
}
.div114,
.wrapper20 {
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper20 {
  top: 248px;
  left: 900px;
  width: 120px;
  height: 29px;
  font-size: var(--font-size-5xl);
}
.final-o-t-short-4-child1,
.final-o-t-short-4-child2,
.final-o-t-short-4-inner {
  position: absolute;
  top: 1700px;
  left: 57px;
  width: 397px;
  height: 443px;
  object-fit: cover;
  cursor: pointer;
}
.final-o-t-short-4-child1,
.final-o-t-short-4-child2 {
  left: 526px;
  width: 398px;
}
.final-o-t-short-4-child2 {
  left: 997px;
  width: 397px;
}
.div115,
.div116 {
  position: absolute;
  top: 1736px;
  left: 1026px;
  font-size: var(--font-size-sm);
  color: var(--color-red-500);
}
.div116 {
  top: 1741px;
  left: 549px;
}
.final-o-t-short-4-child3 {
  position: absolute;
  top: 313.5px;
  left: 773.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 567px;
  height: 1px;
}
.final-o-t-short-4-child4,
.final-o-t-short-4-child5,
.final-o-t-short-4-child6,
.final-o-t-short-4-child7 {
  position: absolute;
  top: 313.5px;
  left: 907.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 433px;
  height: 1px;
}
.final-o-t-short-4-child5,
.final-o-t-short-4-child6,
.final-o-t-short-4-child7 {
  top: 369.5px;
  left: 773.5px;
  width: 567px;
}
.final-o-t-short-4-child6,
.final-o-t-short-4-child7 {
  top: 442.5px;
}
.final-o-t-short-4-child7 {
  top: 510.5px;
}
.cn-hng5 {
  font-weight: 600;
  color: var(--color-forestgreen);
}
.tnh-trng-cn-container5 {
  position: absolute;
  top: 330px;
  left: 774px;
}
.dang-mc-qun3,
.m-na5 {
  position: absolute;
  top: 393px;
  left: 772px;
}
.dang-mc-qun3 {
  top: 471px;
  left: 774px;
}
.mu5,
.size6,
.t-kho-qun3 {
  position: absolute;
  top: 537px;
  left: 772px;
}
.mu5,
.size6 {
  top: 634px;
  left: 774px;
}
.size6 {
  top: 700px;
}
.final-o-t-short-4-child8 {
  position: absolute;
  top: 1003px;
  left: 31px;
  width: 158px;
  height: 160px;
  object-fit: cover;
}
.final-o-t-short-4-child10,
.final-o-t-short-4-child11,
.final-o-t-short-4-child9 {
  position: absolute;
  top: 1003px;
  left: 398px;
  width: 158px;
  height: 160px;
  object-fit: cover;
}
.final-o-t-short-4-child10,
.final-o-t-short-4-child11 {
  left: 215px;
}
.final-o-t-short-4-child11 {
  left: 584px;
}
.sn-phm-tng5 {
  position: absolute;
  top: 1607px;
  left: 33px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.final-o-t-short-4-child12 {
  position: absolute;
  top: 2270px;
  left: 0;
  background-color: var(--color-white);
  width: 1442px;
  height: 111px;
}
.vector-icon6 {
  position: absolute;
  height: 2.76%;
  width: 6.6%;
  top: 73.32%;
  right: 86.94%;
  bottom: 23.92%;
  left: 6.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.final-o-t-short-4-child13 {
  position: absolute;
  top: 2299px;
  left: 39px;
  border-radius: 50%;
  width: 53.8px;
  height: 50px;
  object-fit: cover;
}
.span65 {
  color: var(--color-red-300);
}
.h-tr-container7 {
  position: absolute;
  top: 2312px;
  left: 111px;
  display: inline-block;
  width: 324px;
  height: 22px;
}
.blank-line25,
.gii-thiu7,
.n7-hng-n7 {
  margin: 0;
}
.gii-thiu-n7-container7 {
  position: absolute;
  top: 2457px;
  left: 21px;
  display: inline-block;
  width: 688px;
  height: 91px;
}
.chi-tit-sn5 {
  position: absolute;
  top: 1200px;
  left: 31px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.div117,
.wrapper21 {
  position: absolute;
  width: 89px;
  height: 21px;
}
.div117 {
  top: 0;
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
}
.wrapper21 {
  top: 2166px;
  left: 1112px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.final-o-t-short-4-child14,
.final-o-t-short-4-child15,
.final-o-t-short-4-child16,
.final-o-t-short-4-child17 {
  position: absolute;
  top: 2648px;
  left: 765px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.final-o-t-short-4-child15,
.final-o-t-short-4-child16,
.final-o-t-short-4-child17 {
  left: 877px;
}
.final-o-t-short-4-child16,
.final-o-t-short-4-child17 {
  left: 821px;
}
.final-o-t-short-4-child17 {
  left: 933px;
}
.cng-ty-tnhh6,
.thng-tin-lin7 {
  position: absolute;
  top: 0;
  left: 27px;
  display: inline-block;
  width: 191px;
  height: 39px;
}
.cng-ty-tnhh6 {
  top: 33px;
  left: 29px;
  width: 202px;
  height: 29px;
}
.group-child155 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.c-s-17 {
  position: absolute;
  top: 0;
  left: 29px;
  display: inline-block;
  width: 413px;
  height: 23px;
}
.group-child156,
.vector-parent8 {
  position: absolute;
  top: 69px;
  left: 0;
  width: 442px;
  height: 23px;
}
.group-child156 {
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.c-s-27 {
  position: absolute;
  top: 0;
  left: 27px;
  display: inline-block;
  width: 419px;
  height: 48px;
}
.ellipse-parent9,
.group-child157 {
  position: absolute;
  top: 105px;
  left: 0;
  width: 446px;
  height: 48px;
}
.group-child157 {
  top: 8px;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.blank-line26,
.blank-line27,
.blank-line28,
.p39 {
  margin: 0;
}
.p40,
.p41,
.p42,
.p43 {
  margin: 0;
  white-space: pre-wrap;
}
.div118,
.div119 {
  position: absolute;
  top: 0;
  left: 1px;
  display: inline-block;
  width: 688px;
  height: 28px;
}
.div119 {
  top: 5px;
  left: 18px;
  width: 158px;
  height: 23px;
}
.group-child158,
.vector-parent9 {
  position: absolute;
  top: 134px;
  left: 4px;
  width: 689px;
  height: 28px;
}
.group-child158 {
  top: 5px;
  left: 0;
  border-radius: 50%;
  width: 16px;
  height: 17px;
  object-fit: cover;
}
.newsevenvngmailcom7 {
  position: absolute;
  top: 0;
  left: 23px;
  display: inline-block;
  width: 245px;
  height: 25px;
}
.ellipse-parent10 {
  position: absolute;
  top: 169px;
  left: 4px;
  width: 268px;
  height: 25px;
}
.group-child159,
.thng-tin-lin-h-parent3 {
  position: absolute;
  top: 2447px;
  left: 765px;
  width: 693px;
  height: 194px;
}
.group-child159 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.m11 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
}
.group-child160,
.rectangle-parent86 {
  position: absolute;
  top: 0;
  left: 73px;
  width: 40px;
  height: 40px;
}
.group-child160 {
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
}
.m12 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
  text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
    0-1px 0 transparent;
}
.final-o-t-short-4-inner1,
.group-parent42,
.rectangle-parent87 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.final-o-t-short-4-inner1,
.group-parent42 {
  width: 113px;
}
.final-o-t-short-4-inner1 {
  top: 684px;
  left: 945px;
  width: 40px;
  overflow: hidden;
}
.group-child161 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 40px;
  height: 40px;
}
.l11 {
  position: absolute;
  top: 8px;
  left: 15px;
  display: inline-block;
  width: 23px;
}
.group-child162,
.rectangle-parent88 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-child162 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.l12 {
  position: absolute;
  top: 8px;
  left: 15px;
  display: inline-block;
  width: 23px;
}
.rectangle-parent89 {
  position: absolute;
  top: 0;
  left: 81px;
  width: 40px;
  height: 40px;
}
.final-o-t-short-4-inner2,
.group-parent43 {
  position: absolute;
  top: 0;
  left: 0;
  width: 121px;
  height: 40px;
}
.final-o-t-short-4-inner2 {
  top: 684px;
  left: 1005px;
  width: 40px;
  overflow: hidden;
}
.group-child163 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 40px;
  height: 40px;
}
.xl10 {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  width: 32px;
}
.group-child164,
.rectangle-parent90 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-child164 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.xl11 {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  width: 32px;
}
.rectangle-parent91 {
  position: absolute;
  top: 0;
  left: 72px;
  width: 40px;
  height: 40px;
}
.final-o-t-short-4-inner3,
.group-parent44 {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 40px;
}
.final-o-t-short-4-inner3 {
  top: 684px;
  left: 1064px;
  width: 40px;
  overflow: hidden;
}
.final-o-t-short-4-child18 {
  position: absolute;
  top: 186px;
  left: 36px;
  width: 711px;
  height: 780px;
  object-fit: cover;
}
.group-child165 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 222px;
  height: 42px;
}
.thm-vo-gi10 {
  position: absolute;
  top: 9px;
  left: 17px;
}
.group-child166,
.rectangle-parent92 {
  position: absolute;
  top: 0;
  left: 0;
  width: 222px;
  height: 42px;
}
.group-child166 {
  background-color: var(--color-dimgray-300);
}
.thm-vo-gi11 {
  position: absolute;
  top: 9px;
  left: 17px;
}
.rectangle-parent93 {
  position: absolute;
  top: 0;
  left: 246px;
  width: 222px;
  height: 42px;
}
.final-o-t-short-4-inner4,
.group-parent45 {
  position: absolute;
  top: 0;
  left: 0;
  width: 468px;
  height: 42px;
}
.final-o-t-short-4-inner4 {
  top: 772px;
  left: 945px;
  width: 222px;
  overflow: hidden;
  color: var(--color-white);
}
.group-child167,
.group-child168 {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
}
.group-child167 {
  left: 0;
  background-color: #007d0d;
}
.group-child168 {
  left: 66px;
  background-color: rgba(0, 125, 13, 0.62);
}
.final-o-t-short-4-inner5,
.rectangle-parent94 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 40px;
}
.final-o-t-short-4-inner5 {
  top: 626px;
  left: 945px;
  width: 40px;
  overflow: hidden;
}
.group-child169,
.group-child170 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 40px;
  height: 40px;
}
.group-child170 {
  left: 66px;
  background-color: var(--color-gray-1200);
}
.final-o-t-short-4-inner6,
.rectangle-parent95 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 40px;
}
.final-o-t-short-4-inner6 {
  top: 626px;
  left: 1005px;
  width: 40px;
  overflow: hidden;
}
.group-child171,
.group-child172 {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
}
.group-child171 {
  left: 0;
  background-color: var(--color-white);
}
.group-child172 {
  left: 66px;
  background-color: rgba(255, 255, 255, 0.62);
}
.final-o-t-short-4-inner7,
.rectangle-parent96 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 40px;
}
.final-o-t-short-4-inner7 {
  top: 626px;
  left: 1066px;
  width: 40px;
  overflow: hidden;
}
.group-child173 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-orangered-200);
  width: 420px;
  height: 117px;
}
.mua-ngay10 {
  position: absolute;
  top: 15px;
  right: 111px;
}
.gi-in-xc10 {
  position: absolute;
  top: 77px;
  left: 27px;
  font-size: var(--font-size-xl);
}
.group-child174,
.rectangle-parent97 {
  position: absolute;
  top: 0;
  left: 479px;
  width: 420px;
  height: 117px;
}
.group-child174 {
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-orangered-100);
}
.mua-ngay11 {
  position: absolute;
  top: 15px;
  right: 111px;
}
.gi-in-xc11 {
  position: absolute;
  top: 77px;
  left: 27px;
  font-size: var(--font-size-xl);
}
.rectangle-parent98 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 117px;
  color: var(--color-white);
}
.final-o-t-short-4-inner8,
.frame-wrapper44,
.group-parent46,
.group-wrapper15,
.group-wrapper16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 899px;
  height: 117px;
}
.final-o-t-short-4-inner8 {
  top: 848px;
  left: 781px;
  width: 420px;
  overflow: hidden;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-1300);
}
.group-child175,
.group-child176 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child176 {
  left: 156px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b30,
.b31 {
  position: absolute;
  top: 9px;
  left: 7px;
}
.b31 {
  left: 163px;
  color: var(--color-gray-400);
}
.group-child177,
.group-child178 {
  position: absolute;
  top: 0;
  left: 84px;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child178 {
  left: 240px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b32,
.b33 {
  position: absolute;
  top: 9px;
  left: 89px;
}
.b33 {
  left: 245px;
  color: var(--color-gray-400);
}
.group-child179,
.group-child180 {
  position: absolute;
  top: 0;
  left: 24px;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 60px;
  height: 42px;
}
.group-child180 {
  left: 180px;
}
.b34,
.b35 {
  position: absolute;
  top: 9px;
  left: 49px;
}
.b35 {
  left: 205px;
}
.rectangle-parent99 {
  position: absolute;
  top: 0;
  left: 0;
  width: 264px;
  height: 42px;
}
.th-t5 {
  top: 772px;
  left: 781px;
  width: 108px;
  height: 42px;
  overflow: hidden;
}
.div120,
.div121,
.th-t5 {
  position: absolute;
}
.div120 {
  top: 231px;
  left: 64px;
  font-size: var(--font-size-sm);
  color: var(--color-red-500);
}
.div121 {
  top: 0;
  left: 0;
}
.final-o-t-short-4-inner9,
.wrapper22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 124px;
  height: 29px;
}
.final-o-t-short-4-inner9 {
  top: 248px;
  left: 765px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.div122,
.wrapper23 {
  position: absolute;
  width: 89px;
  height: 21px;
}
.div122 {
  top: 0;
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
}
.wrapper23 {
  top: 2170px;
  left: 635px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.bng-trn-ch2,
.cht-liu-chn,
.hng-chun-n71,
.mc-nh2,
.ng-may-chun1,
.size-l-1m65-1m70,
.size-m-1m60-1m65,
.size-s-1m50-1m60,
.size-xl-1m70-1m8070-80kg,
.thit-k-hin1,
.thng-s-chn2,
.thng-tin-sn2 {
  margin: 0;
}
.thng-tin-sn-container2 {
  position: absolute;
  top: 1266px;
  left: 31px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.home15,
.home16 {
  position: absolute;
  top: 0;
  left: 0;
}
.home16 {
  left: 105px;
  color: var(--color-gray-300);
}
.final-o-t-short-4-inner10,
.home-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.final-o-t-short-4-inner10 {
  top: 39px;
  left: 283px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child181,
.shop15 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child181 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent12,
.shop16 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent12 {
  width: 78px;
  height: 29px;
}
.shop16 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child182,
.shop-parent13 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent13 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.final-o-t-short-4-inner11,
.group-parent47 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.final-o-t-short-4-inner11 {
  top: 38px;
  left: 407px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact15,
.contact16 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact16 {
  left: 146px;
  color: var(--color-gray-400);
}
.contact-parent5,
.final-o-t-short-4-inner12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.final-o-t-short-4-inner12 {
  top: 39px;
  left: 524px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group15,
.group16 {
  position: absolute;
  top: 0;
  left: 0;
}
.group16 {
  left: 94px;
  color: var(--color-gray-400);
}
.final-o-t-short-4-inner13,
.group-parent48 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.final-o-t-short-4-inner13 {
  top: 39px;
  left: 685px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child183 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn7 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child184 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent100 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child185 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child185,
.group-wrapper17,
.rectangle-wrapper7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper17 {
  left: 367px;
}
.final-o-t-short-4-inner14,
.group-parent49 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.final-o-t-short-4-inner14 {
  top: 21px;
  left: 806px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.final-o-t-short-4-child19 {
  position: absolute;
  top: 38px;
  left: 1387px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon14,
.male-user-icon15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon15 {
  left: 55px;
}
.final-o-t-short-4-inner15,
.male-user-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.final-o-t-short-4-inner15 {
  top: 38px;
  left: 1340px;
  width: 26px;
  overflow: hidden;
}
.seven7 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new15,
.p44 {
  margin: 0;
}
.p44 {
  font-size: var(--font-size-5xl);
}
.new14 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child186 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r7 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.final-o-t-short-4-inner16,
.seven-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.final-o-t-short-4-inner16 {
  top: 25px;
  left: 36px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.final-o-t-short-4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2935px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
