.group-child643 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn29 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child644 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent298 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child645 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child645,
.group-parent148,
.group-wrapper39,
.rectangle-wrapper29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-parent148,
.group-wrapper39 {
  left: 367px;
}
.group-parent148 {
  left: 0;
  width: 705px;
}
.group-parent147 {
  width: 100%;
  position: relative;
  height: 73px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
