.group-child706 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.m30 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
}
.group-child707,
.rectangle-parent322 {
  position: absolute;
  top: 0;
  left: 73px;
  width: 40px;
  height: 40px;
}
.group-child707 {
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
}
.m31 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
  text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
    0-1px 0 transparent;
}
.group-parent170,
.rectangle-parent323 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-parent170 {
  width: 113px;
}
.group-child708,
.property-1default7 {
  position: absolute;
  width: 40px;
  height: 40px;
}
.property-1default7 {
  top: 20px;
  left: 20px;
  overflow: hidden;
}
.group-child708 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.m32 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
}
.group-child709,
.rectangle-parent324 {
  position: absolute;
  top: 0;
  left: 73px;
  width: 40px;
  height: 40px;
}
.group-child709 {
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
}
.m33 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
  text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
    0-1px 0 transparent;
}
.rectangle-parent325 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-parent171,
.property-1variant27 {
  position: absolute;
  top: 0;
  left: -73px;
  width: 113px;
  height: 40px;
}
.property-1variant27 {
  top: 80px;
  left: 20px;
  width: 40px;
  overflow: hidden;
}
.property-1default-parent2 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 140px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
