.group-child730,
.group-child731 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 39px;
  height: 39px;
}
.group-child731 {
  left: 66px;
  background-color: var(--color-gray-1300);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.property-1default13,
.rectangle-parent344 {
  position: absolute;
  top: 0;
  left: 0;
  width: 105px;
  height: 39px;
}
.property-1default13 {
  top: 20px;
  left: 20px;
  width: 39px;
  overflow: hidden;
}
.group-child732,
.group-child733 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 39px;
  height: 39px;
}
.group-child733 {
  left: 66px;
  background-color: var(--color-gray-1300);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.property-1variant213,
.rectangle-parent345 {
  position: absolute;
  top: 0;
  left: -66px;
  width: 105px;
  height: 39px;
}
.property-1variant213 {
  top: 79px;
  left: 20px;
  width: 39px;
  overflow: hidden;
}
.property-1default-parent8 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 138px;
  overflow: hidden;
}
