.group-child652 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn32 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child653 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent301 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child654 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child654,
.group-parent154,
.group-wrapper42,
.rectangle-wrapper32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-parent154,
.group-wrapper42 {
  left: 367px;
}
.group-parent154 {
  left: 0;
  width: 705px;
}
.group-parent153 {
  width: 100%;
  position: relative;
  height: 73px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
