.group54,
.group55 {
  position: absolute;
  top: 0;
  left: 0;
}
.group55 {
  left: 94px;
  color: var(--color-gray-400);
}
.group-parent115 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.group-parent114 {
  width: 100%;
  position: relative;
  height: 35px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
