.gi-hng-child40,
.gi-hng-child41 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 2381px;
}
.gi-hng-child41 {
  top: -3px;
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container17 {
  position: absolute;
  top: 209px;
  left: 554px;
  font-size: var(--font-size-5xl);
}
.sn-phm18 {
  position: absolute;
  top: 316px;
  left: 55px;
  font-weight: 800;
}
.cng-gi-hng6,
.gi6,
.s-lng6,
.tm-tnh34 {
  position: absolute;
  top: 317px;
  left: 425px;
  font-weight: 800;
}
.cng-gi-hng6,
.s-lng6,
.tm-tnh34 {
  top: 312px;
  left: 566px;
}
.cng-gi-hng6,
.tm-tnh34 {
  left: 716px;
}
.cng-gi-hng6 {
  top: 311px;
  left: 892px;
}
.giao-hng17,
.tm-tnh35 {
  position: absolute;
  top: 379px;
  left: 892px;
  color: var(--color-dimgray-100);
}
.giao-hng17 {
  top: 435px;
}
.span144 {
  color: var(--color-black);
}
.div270,
.tng17 {
  position: absolute;
  top: 542px;
  left: 892px;
  color: var(--color-dimgray-100);
}
.div270 {
  top: 538px;
  left: 1306px;
  font-weight: 800;
  color: var(--color-red-600);
}
.span145 {
  color: var(--color-black);
}
.span146 {
  color: var(--color-red-600);
}
.ph-ship-25000-container6,
.tnh-ph-giao6,
.tu-chn-giao6 {
  position: absolute;
  top: 423px;
  left: 1301px;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-100);
}
.tnh-ph-giao6,
.tu-chn-giao6 {
  top: 439px;
  left: 1079px;
}
.tnh-ph-giao6 {
  top: 453px;
  left: 1298px;
}
.div271 {
  position: absolute;
  top: 379px;
  left: 1311px;
  font-weight: 800;
  color: var(--color-red-600);
}
.gi-hng-child42,
.gi-hng-child43 {
  position: absolute;
  box-sizing: border-box;
}
.gi-hng-child42 {
  top: 347.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  width: 812px;
  height: 1px;
}
.gi-hng-child43 {
  top: 315.5px;
  left: 845.5px;
  border-right: 1px solid var(--color-black);
  width: 1px;
  height: 499px;
}
.gi-hng-child44,
.gi-hng-child45,
.gi-hng-child46,
.gi-hng-child47 {
  position: absolute;
  top: 347.5px;
  left: 891.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 498px;
  height: 1px;
}
.gi-hng-child45,
.gi-hng-child46,
.gi-hng-child47 {
  top: 403.5px;
  width: 237px;
}
.gi-hng-child46,
.gi-hng-child47 {
  top: 473.5px;
  width: 94px;
}
.gi-hng-child47 {
  top: 566.5px;
  width: 237px;
}
.gi-hng-child48 {
  position: absolute;
  top: 361px;
  left: 55px;
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.div272,
.div273,
.qun-short-basic9 {
  position: absolute;
  top: 389px;
  left: 143px;
  font-weight: 800;
}
.div272,
.div273 {
  left: 405px;
  color: var(--color-red-600);
}
.div273 {
  top: 385px;
  left: 718px;
}
.group-child560 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-700);
  width: 495px;
  height: 42px;
}
.tin-hnh-thanh6 {
  position: absolute;
  top: 11px;
  left: 173px;
  font-weight: 800;
}
.group-child561,
.rectangle-parent262 {
  position: absolute;
  width: 495px;
  height: 42px;
}
.rectangle-parent262 {
  top: 587px;
  left: 894px;
  cursor: pointer;
  color: var(--color-white);
}
.group-child561 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.group-child562,
.phiu-u-i6 {
  position: absolute;
  top: 11px;
  left: 44px;
}
.group-child562 {
  left: 10px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.rectangle-parent263 {
  position: absolute;
  top: 649px;
  left: 894px;
  width: 495px;
  height: 42px;
  color: var(--color-gray-900);
}
.group-child563 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 180px;
  height: 45px;
}
.cp-nht-gi6 {
  position: absolute;
  top: 13px;
  left: 21px;
  font-weight: 800;
}
.rectangle-parent264 {
  position: absolute;
  top: 490px;
  left: 352px;
  width: 180px;
  height: 45px;
  color: var(--color-white);
}
.group-child564 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 292px;
  height: 45px;
}
.tip-tc-xem6 {
  position: absolute;
  top: 13px;
  left: 63px;
  font-weight: 800;
}
.group-child565 {
  position: absolute;
  top: 23px;
  left: 41px;
  max-height: 100%;
  width: 15px;
  object-fit: contain;
}
.rectangle-parent265 {
  position: absolute;
  top: 490px;
  left: 25px;
  width: 292px;
  height: 45px;
  cursor: pointer;
}
.group-child566 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-200);
  width: 17px;
  height: 26px;
}
.div274 {
  position: absolute;
  top: 3px;
  left: 6px;
  font-weight: 800;
  display: inline-block;
  width: 5px;
  height: 4px;
}
.group-child567,
.group-child568 {
  position: absolute;
  top: 0;
  left: 52px;
  background-color: var(--color-silver-200);
  width: 17px;
  height: 26px;
}
.group-child568 {
  left: 17px;
  background-color: var(--color-white);
  width: 35px;
}
.div275,
.div276 {
  position: absolute;
  top: 8px;
  left: 32px;
  font-weight: 800;
}
.div276 {
  top: 7px;
  left: 57px;
}
.rectangle-parent266 {
  position: absolute;
  top: 382px;
  left: 575px;
  width: 69px;
  height: 26px;
  font-size: var(--font-size-3xs);
}
.group-child569,
.group-child570 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 495px;
  height: 42px;
}
.group-child570 {
  top: 77px;
  background-color: var(--color-gray-1400);
}
.m-u-i6 {
  position: absolute;
  top: 11px;
  left: 44px;
  font-weight: 800;
}
.gi-hng-inner17,
.rectangle-parent267 {
  position: absolute;
  top: 0;
  left: 0;
  width: 495px;
  height: 119px;
}
.gi-hng-inner17 {
  top: 711px;
  left: 890px;
  height: 42px;
  overflow: hidden;
  color: var(--color-gray-900);
}
.gi-hng-child49 {
  position: absolute;
  top: 897px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.vector-icon16 {
  position: absolute;
  height: 4.03%;
  width: 6.67%;
  top: 45.28%;
  right: 89.1%;
  bottom: 50.69%;
  left: 4.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gi-hng-child50 {
  position: absolute;
  top: 927px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.gi-hng-child51,
.gi-hng-child52,
.gi-hng-child53,
.gi-hng-child54 {
  position: absolute;
  top: 1185px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.gi-hng-child52,
.gi-hng-child53,
.gi-hng-child54 {
  top: 1212px;
  left: 764px;
}
.gi-hng-child53,
.gi-hng-child54 {
  top: 1239px;
  left: 765px;
  width: 17px;
  height: 16px;
}
.gi-hng-child54 {
  top: 1259px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span147 {
  color: var(--color-red-300);
}
.h-tr-container28 {
  position: absolute;
  top: 941px;
  left: 111px;
  font-size: var(--font-size-xl);
}
.blank-line55,
.gii-thiu28,
.n7-hng-n28 {
  margin: 0;
}
.gii-thiu-n7-container28 {
  top: 1095px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.cng-ty-tnnhh18,
.gii-thiu-n7-container28,
.thng-tin-lin28 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.thng-tin-lin28 {
  top: 1092px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh18 {
  top: 1138px;
  left: 788px;
}
.newsevenvngmailcom28 {
  top: 1257px;
  left: 788px;
}
.c-s-128,
.c-s-228,
.div277,
.newsevenvngmailcom28 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.c-s-128 {
  top: 1184px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-228,
.div277 {
  top: 1211px;
  left: 788px;
}
.div277 {
  top: 1235px;
}
.gi-hng-child55,
.gi-hng-child56,
.gi-hng-child57,
.gi-hng-child58 {
  position: absolute;
  top: 1287px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.gi-hng-child56,
.gi-hng-child57,
.gi-hng-child58 {
  left: 902px;
}
.gi-hng-child57,
.gi-hng-child58 {
  left: 845px;
}
.gi-hng-child58 {
  left: 959px;
}
.group-child571,
.group-child572 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-100);
  width: 495px;
  height: 42px;
}
.group-child572 {
  top: 95px;
}
.p-dng12,
.p-dng13 {
  position: absolute;
  top: 12px;
  left: 218px;
  font-weight: 800;
}
.p-dng13 {
  top: 107px;
  color: var(--color-gray-1500);
}
.rectangle-parent268 {
  position: absolute;
  top: 0;
  left: 0;
  width: 495px;
  height: 137px;
}
.gi-hng-child59,
.gi-hng-inner18 {
  position: absolute;
  overflow: hidden;
}
.gi-hng-inner18 {
  top: 776px;
  left: 890px;
  width: 495px;
  height: 42px;
  color: var(--color-gray-900);
}
.gi-hng-child59 {
  top: 399px;
  left: 16px;
  width: 18px;
  height: 18px;
}
.seven28 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new57,
.p72 {
  margin: 0;
}
.p72 {
  font-size: var(--font-size-5xl);
}
.new56 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child573 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r28 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.gi-hng-inner19,
.seven-parent24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.gi-hng-inner19 {
  top: 24px;
  left: 25px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.m22 {
  position: absolute;
  top: 414px;
  left: 270px;
  font-weight: 800;
  display: inline-block;
  width: 15px;
  height: 15px;
}
.male-user-icon56,
.male-user-icon57 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon57 {
  left: 55px;
}
.male-user-parent26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.gi-hng-child60,
.gi-hng-inner20 {
  position: absolute;
  top: 38px;
  left: 1272px;
  width: 29px;
  height: 32px;
  overflow: hidden;
}
.gi-hng-child60 {
  left: 1325px;
}
.group65,
.group66 {
  position: absolute;
  top: 0;
  left: 0;
}
.group66 {
  left: 94px;
  color: var(--color-gray-400);
}
.group-parent134,
.group64 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.group64 {
  top: 42px;
  left: 652px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.home60,
.home61 {
  position: absolute;
  top: 0;
  left: 0;
}
.home61 {
  left: 105px;
  color: var(--color-gray-300);
}
.gi-hng-inner21,
.home-parent26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.gi-hng-inner21 {
  top: 44px;
  left: 248px;
  width: 80px;
  height: 36px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child574,
.shop60 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child574 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent54,
.shop61 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent54 {
  width: 78px;
  height: 29px;
}
.shop61 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child575,
.shop-parent55 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent55 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.gi-hng-inner22,
.group-parent135 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.gi-hng-inner22 {
  top: 43px;
  left: 383px;
  width: 85px;
  height: 36px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact60,
.contact61 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact61 {
  left: 146px;
  color: var(--color-gray-400);
}
.contact-parent26,
.gi-hng-inner23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.gi-hng-inner23 {
  top: 44px;
  left: 510px;
  width: 127px;
  height: 36px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child576 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn28 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child577 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent269 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child578 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child578,
.rectangle-wrapper28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.gi-hng-inner24,
.group-parent136,
.group-wrapper38 {
  position: absolute;
  top: 0;
  left: 367px;
  width: 338px;
  height: 60px;
}
.gi-hng-inner24,
.group-parent136 {
  left: 0;
  width: 705px;
}
.gi-hng-inner24 {
  top: 18px;
  left: 807px;
  width: 368px;
  height: 73px;
  overflow: hidden;
  color: var(--color-white);
}
.gi-hng2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1668px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
