.group-child734,
.group-child735 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child735 {
  left: 156px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b36,
.b37 {
  position: absolute;
  top: 9px;
  left: 7px;
}
.b37 {
  left: 163px;
  color: var(--color-gray-400);
}
.group-child736,
.group-child737 {
  position: absolute;
  top: 0;
  left: 84px;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child737 {
  left: 240px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b38,
.b39 {
  position: absolute;
  top: 9px;
  left: 89px;
}
.b39 {
  left: 245px;
  color: var(--color-gray-400);
}
.group-child738,
.group-child739 {
  position: absolute;
  top: 0;
  left: 24px;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 60px;
  height: 42px;
}
.group-child739 {
  left: 180px;
}
.b40,
.b41 {
  position: absolute;
  top: 9px;
  left: 49px;
}
.b41 {
  left: 205px;
}
.property-1default14,
.rectangle-parent346 {
  position: absolute;
  top: 0;
  left: 0;
  width: 264px;
  height: 42px;
}
.property-1default14 {
  top: 20px;
  left: 20px;
  width: 108px;
  overflow: hidden;
}
.group-child740,
.group-child741 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child741 {
  left: 156px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b42,
.b43 {
  position: absolute;
  top: 9px;
  left: 7px;
}
.b43 {
  left: 163px;
  color: var(--color-gray-400);
}
.group-child742,
.group-child743 {
  position: absolute;
  top: 0;
  left: 84px;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child743 {
  left: 240px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b44,
.b45 {
  position: absolute;
  top: 9px;
  left: 89px;
}
.b45 {
  left: 245px;
  color: var(--color-gray-400);
}
.group-child744,
.group-child745 {
  position: absolute;
  top: 0;
  left: 24px;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 60px;
  height: 42px;
}
.group-child745 {
  left: 180px;
}
.b46,
.b47 {
  position: absolute;
  top: 9px;
  left: 49px;
}
.b47 {
  left: 205px;
}
.property-1variant214,
.rectangle-parent347 {
  position: absolute;
  top: 0;
  left: -156px;
  width: 264px;
  height: 42px;
}
.property-1variant214 {
  top: 82px;
  left: 20px;
  width: 108px;
  overflow: hidden;
}
.th-t6 {
  width: 100%;
  position: relative;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  height: 144px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
